{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Dashboard {% endblock %}
{% block css %}
    <style>
.card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.card{
     background-color: #fff;
}
.itemc{
    padding:20px;

}
.borderrad{
    border-top-right-radius: 15px !important;
}
.font{
    color: white;
    font-size: 20px;
    font-family: inherit
}
.fontu{
    font-size: 30px;
}
.mb-1{
        margin-bottom: 18px;
}
</style>
<link href="{{asset('bundles/app-assets/')}}css/custom.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
  
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
        <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
    <link rel="stylesheet" type="text/css" href="{#{{asset('bundles/design/')}}css/bootstrap.css#}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    {#<link rel="stylesheet" type="text/css" href="{{asset('bundles/design/')}}css/app.css">#}
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/design/')}}css/vertical-menu.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/design/')}}css/bootstrap-extended.css">
   {# <script src="{{asset('bundles/design/')}}js/vendors.min.js" type="text/javascript"></script>#}
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{{asset('bundles/design/')}}js/jquery.knob.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="{{asset('bundles/design/')}}js/app-menu.js" type="text/javascript"></script>
    {#<script src="{{asset('bundles/design/')}}js/app.js" type="text/javascript"></script>#}

    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{{asset('bundles/design/')}}js/knob.js" type="text/javascript"></script>

    <section class="content-header">
        <h1>
            Dashboard
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><b>You are here:</b><a href="#">Home - Dashboard</a></li>
        </ol>
    </section>
    <section class="content">

        <!-- flash message -->
        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success_msg') %}
                    <div role="alert" class="alert alert-success alert-dismissible fade in">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <strong>Alert!</strong>&nbsp; {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error_msg') %}
                    <div role="alert" class="alert alert-danger alert-dismissible fade in">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <strong>Alert!</strong>&nbsp; {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- flash message -->

        <div class="content-body">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{user_packagecount}}</h3>

              <p>Total Subscription</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{coursecount}}<sup style="font-size: 20px"></sup></h3>

              <p>Total Course</p>
            </div>
            <div class="icon">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{course_unitcount}}</h3>

              <p>Total Sessions</p>
            </div>
            <div class="icon">
              <i class="fa fa-book"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
                <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{usercount}}</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
            </div>
        </div>
        <div class="row">
         
           <div class="col-md-6">
           
        <div class="box box-success">
                  <div class="box-header with-border">
                    <h2 class="box-title">Latest Members</h2>

                    
                  </div>
                  <!-- /.card-header -->
                  <div class="box-body p-0">
                    <ul class="users-list clearfix">
                        {% if userdata is defined %}

                            {% for userdata in userdata %}
                            {%if loop.index <= 8%}
                      <li>
                        <img src="{{userdata.image_url}}" style="height:100px;width:100px" alt="User Image">
                        <a class="users-list-name" href="#">{{userdata.firstname}} {{userdata.lastname}}</a>
                        <span class="users-list-date">{{userdata.role_name}}</span>
                      </li>
                      {%endif%}
                  {% endfor %}
                      {% endif %}
                    </ul>
                    <!-- /.users-list -->
                  </div>
                  <!-- /.card-body -->
                  <div class="box-footer text-center">
                    <a href="{{ path('admin_user_index')}}" >View All Users</a>
                  </div>
                  <!-- /.card-footer -->
                </div>
            </div>
       
            </div>

            <div class="row hide">
               
                
                <div class="col-md-6">
                    <div class="card">
            
                        <div class="card-content">
                           
                            <div id="container10" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>  
                    </div>
                </div>
                
                </div>

               

                

                
                


                
             

                


            </div>
        </div>    
</section>
{% endblock %}

{% block js %}
  <script>
function toggleVideoView(element){
    element.children('.ytube_video').toggleClass('hide'); 
  }
</script>
{% endblock %}