{% extends "@Admin/Layout/exhibitorlayout.html.twig" %}
{% block title %} Appointments {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
            Appointments
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>dashboard</a></li>
		  <li class="active">Appointments</li>
		</ol>
	  </section>
	  <section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      {#<h3 class="box-title">Progress Bars Different Sizes</h3>#}
                      
                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
							<table id="example1" class="table table-bordered table-striped text-center">
								<thead>
									<th hidden>Offer Mani ID</th>
									<th>No.</th>
                                    <th>Person</th>
									<th>Location</th>
									<th>Date</th>
									<th>ContactNo</th>
                                    <th>Category</th>
									<th>Country</th>
                                    <th>Action</th>
								</thead>
								<tbody>
									{% set offers_list = ['akash','xyz','newname','deakal']%}
									{% if offers_list is defined and offers_list is not empty %}
										{% for offer in offers_list %}
											<tr>
												<td hidden></td>
												<td>{{loop.index}}</td>
												
												<td>{{offer}}</td>
												<td>Ahmedabad</td>
												<td>10/7/2018</td>
												<td>1324220</td>
												<td>Education</td>
												<td>India</td>
												
												<td>
													 <a class="btn btn-default btn-xs btn-flat" data-toggle="tooltip" title="Edit" onclick="return confirm('Are you sure you want to Edit?');" href="#"><span class="fa fa-edit"></span></a>
													 <a class="btn btn-danger btn-xs btn-flat" href="#" data-toggle="tooltip" title="Delete" onclick="return confirm('Are you sure you want to Delete?');" ><span class="fa fa-remove"></span></a>
												</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
								<tfoot>
										<th hidden>Offer Mani ID</th>
									<th>No.</th>
                                    <th>Person</th>
									<th>Location</th>
									<th>Date</th>
									<th>ContactNo</th>
                                    <th>Category</th>
									<th>Country</th>
                                    <th>Action</th>
								</tfoot>
							</table>
						</div>

                    </div>
                  </div>
            </div>
		</div>
	  </section>	
{% endblock %}

{% block js %}
	<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/buttons.print.min.js" type="text/javascript"></script>
	<script>
		function changestatus(id,status) {
			$.post("{{path('admin_offers_offerstatus',{'domain':app.session.get('domain')})}}",{id:id,status:status});
		}
	</script>
<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>
{% endblock %}