{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Session Levels {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Session Levels
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Session Levels</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Session Levels List</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_classlevel_addclasslevel',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead >
                                <th>No</th>

                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if class_level is defined and class_level is not empty %}
                                        {% for class_level in class_level %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{class_level.level_name}}</td>
                                                <td>
                                            {% if class_level.level_status == 'active' %}{% set checked="checked" %}{%else%}{% set checked="" %}{% endif %}
                                            <input data-on="Active" class="status status_{{class_level.class_level_id}}" data-off="Inactive" type="checkbox"
                                                   onchange="ch_facility('{{class_level.class_level_id}}', this);" data-toggle="toggle" data-size="mini"
                                                   data-onstyle="success" {{checked}} />
                                            </td>
                                            <td><a onclick="return confirm('Are you sure you want to Edit ?')" class="btn btn-warning btn-xs" href="{{path('admin_classlevel_addclasslevel' )}}/{{ class_level.class_level_id }}"><i class="fa fa-eye"></i></a>
                                                <a onclick="return confirm('Are you sure you want to delete ?')" class="btn btn-danger btn-xs" href="{{path('admin_classlevel_deleteclasslevel' )}}/{{ class_level.class_level_id }}"><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                            {% endif %}
                                            </tbody>
                                            <thead>
                                            <th>No</th>

                                            <th>Name</th>

                                            <th>Action</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">

                            </div>
                        </div>
                    </div>

                </section>
                {% endblock %}

                    {% block js %}
                        <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
                        <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
                        <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
                        <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#example').DataTable();

                            });
                            function ch_facility(facility_id, sender) {

                                $.ajax({
                                    type: 'POST',
                                    url: "{{path('admin_classlevel_classlevelstatusajax')}}",
                                    data: 'facility_id=' + facility_id + "&flag=change_status",
                                    success: function (resp) {


                                    }
                                });

                            }
                        </script>
                    {% endblock %}