<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="{{asset('bundles/design/images/logo.jpg')}}" rel="shortcut icon" />
		<title>Log in</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.4 -->
		<link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!-- Fontawesome -->
		<link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
		<style>
			.login-box{
				margin: 24px auto;
			}
			.login-logo {
			    width: 360px;
				margin: 0 auto;
				background:#2d3a42;
			}
			.login-logo b {
				color: #fff;
			}
			.login-flash-msg {
				width: 360px;
				margin: 0 auto;
				margin-top: 7%;
			}
			.watermark{
				background:url({{asset('bundles/design/')}}/images/login_background.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 100%;
				height: 100%;
			}
			body { padding: 2em; }


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
		</style>
	</head>

	<body class="login-page watermark">
		
		<div class="login-flash-msg">
			<div class="row">
				<div class="col-md-12">
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
						<div role="alert" class="alert alert-success alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
						<div role="alert" class="alert alert-danger alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
						</div>
				{% endfor %}
				</div>
			</div>
		</div>
	
		<div class="login-logo">
			<b>My Academy</b>
		</div>
		<div class="login-box">
			<div class="login-box-body" style="background-color:#2D3A42;  padding: 10px">
				<div class="pull-right hidden-xs" style="color: #fff;">
					<span class="dropdown notifications-menu">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" />
						 <span class="fa fa-cogs" aria-hidden="true"></span>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><span style="margin-right:60px"><strong>Forget Password</strong></span>  <i class="fa fa-info-circle" style="margin-right: 18px;"></i></a></li>
					</ul>
					</span>
				</div>
				<div class="pull-left hidden-xs">
					<span class="glyphicon glyphicon-user" style="color: #fff;"></span>
				</div>
				<p class="login-box-msg" style="padding:0 20px 0 20px; color: #fff;"><b>User Login</b></p>
			</div>
			<div class="login-box-body">
				
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					
					<div class="form-group has-feedback hide">
						<input type="text" class="form-control" name="domain" placeholder="Domain" value="chesscouch" required="" readonly />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<hr>
					<div class="form-group has-feedback hide">
						<input type="text" class="form-control" name="username" placeholder="Username" required="" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback hide">
						<input type="password" class="form-control" name="password" placeholder="Password" required="" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row hide">
						<div class="col-xs-5">
							<input type="checkbox" name="remember_me" id="remember_me" /> Remember Me ?
						</div>
						<div class="col-xs-4 pull-right hide">
							<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
					<div class="form-group">
					    <label for="exampleFormControlSelect2">I am</label>
					    <select  class="form-control" id="iam">
					    <option value='0'>Select your Role</option>
					      <option value=$this->LEARNER_ROLE_ID>Learner</option>
					      <option value='5b9cb19cff27210948d995a2'>Trainer</option>
					    </select>
  					</div>
					<div class="row">
						<div class="col-xs-5">

						<a href="#" id="googleurl"><button class="loginBtn loginBtn--google">
  Login with Google
</button></a>
						
						<!-- /.col -->
					</div>

				
			</div>
			<!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->
		<!-- jQuery 2.1.4 -->
		<script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js" type="text/javascript"></script>
		<!-- Bootstrap 3.3.2 JS -->
		<script src="{{asset('bundles/design/')}}/js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript">

		$( "#iam" ).change(function() {
  			var id = $(this).val();
  			
			$.ajax({
			  type: "POST",
			  url: "{{path('admin_default_url')}}",
			  data: {'id':id},
			  cache: false,
			  success: function(data){
			     $("a").attr("href", data)
			  }
			});
  		
  		
		});

		</script>
	</body>
</html>