<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="{{asset('bundles/design/images/logo.jpg')}}" rel="shortcut icon" />
		<title>Log in</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.4 -->
		<link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!-- Fontawesome -->
		<link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
		<style>
			.login-box{
				margin: 24px auto;
			}
			.login-logo {
			    width: 360px;
				margin: 0 auto;
				background:#2d3a42;
			}
			.login-logo b {
				color: #fff;
			}
			.login-flash-msg {
				width: 360px;
				margin: 0 auto;
				margin-top: 7%;
			}
			.watermark{
				background:url({{asset('bundles/design/')}}/images/login_background.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>

	<body class="login-page watermark">
		
		<div class="login-flash-msg">
			<div class="row">
				<div class="col-md-12">
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
						<div role="alert" class="alert alert-success alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
						<div role="alert" class="alert alert-danger alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
						</div>
				{% endfor %}
				</div>
			</div>
		</div>
	
		<div class="login-logo">
			<b>My Academy</b>
		</div>
		<div class="login-box">
			<div class="login-box-body" style="background-color:#2D3A42;  padding: 10px">
				<div class="pull-right hidden-xs" style="color: #fff;">
					<span class="dropdown notifications-menu">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" />
						 <span class="fa fa-cogs" aria-hidden="true"></span>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><span style="margin-right:60px"><strong>Forget Password</strong></span>  <i class="fa fa-info-circle" style="margin-right: 18px;"></i></a></li>
					</ul>
					</span>
				</div>
				<div class="pull-left hidden-xs">
					<span class="glyphicon glyphicon-user" style="color: #fff;"></span>
				</div>
				<p class="login-box-msg" style="padding:0 20px 0 20px; color: #fff;"><b>User Login</b></p>
			</div>
			<div class="login-box-body">
				<form action="{{path('admin_default_logincheck')}}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					
					<div class="form-group has-feedback hide">
						<input type="text" class="form-control" name="domain" placeholder="Domain" value="myacademy" required="" readonly />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<hr>
					<div class="form-group has-feedback">
						<input type="text" class="form-control" name="username" placeholder="Username" required="" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" class="form-control" name="password" placeholder="Password" required="" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<input type="checkbox" name="remember_me" id="remember_me" /> Remember Me ?
						</div>
						<div class="col-xs-4 pull-right">
							<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
					<div class="row hide">
						<div class="col-xs-5">

						<a href="" class="btn btn-info">Login with Google</a>
						</div>
						
						<!-- /.col -->
					</div>

				</form>
			</div>
			<!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->
		<!-- jQuery 2.1.4 -->
		<script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js" type="text/javascript"></script>
		<!-- Bootstrap 3.3.2 JS -->
		<script src="{{asset('bundles/design/')}}/js/bootstrap.min.js" type="text/javascript"></script>
	</body>
</html>