{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Category List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    <section class="content-header" >

        <h1>
            Add Category / Section
        </h1>
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Category/Section List</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">					
                    <div class="box-body">
                        <div class="nav-tab-custom">
                            <ul class="nav nav-tabs">
                                {% if  language is defined %}
                                    {% for lang in language %}
                                        <li {% if loop.index == 1 %}class="active"{% endif %}>
                                            <a href="#tab_{{lang.language_master_id}}" data-toggle="tab">{{lang.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-content">							
                            {% set main_category_id = 0 %}
                            {% if selected_category is defined and selected_category is not empty %}
                                {% for selected_category in selected_category %}
                                    {% set main_category_id = selected_category.mainCategoryId %}
                                {%endfor%}
                            {%endif%}
                            {% set flag1 = 'false' %}
                            {% set flag = 'false' %}
                            {% if language is defined %}
                                {% for lang in language %}
                                    <div class="tab-pane fade{% if loop.index == 1 %}in active{% endif %}" id="tab_{{lang.language_master_id}}">

                                        <form id="manage_category_{{lang.language_master_id}}" class="form" method="POST" enctype="multipart/form-data"  {% if selected_category is defined and selected_category is not empty %}{% set flag1 = 'false' %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{% set flag1 = 'true' %}action="{{path('admin_category_updatecategory',{'category_id':selected_category.id})}}" {%endif%}{%endfor%}{%else%}action="{{path('admin_category_savecategory')}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_category_savecategory')}}" {%endif%}
                                              {% if selected_category is defined and selected_category is not empty %} {%else%} {%endif%} >
                                            <input type="hidden" name="language_id" value="{{lang.language_master_id}}" />
                                            <input type="hidden" name="main_category_id" value="{{main_category_id}}" />
                                             <br>
                                             {% set dispclass = "hide" %} 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Select</div> 
                                                    <div class="col-md-10">
                                                        {%set category_type = 'category' %}
                                                        {% if selected_category is defined and selected_category is not empty %}
                                                            {% for selected_category in selected_category %}
                                                                
                                                                {% if (selected_category.languageId) == (lang.language_master_id) and selected_category.Category_type is not empty and selected_category.Category_type == 'section' %}
                                                                    {%set category_type = 'section' %}
                                                                {%endif%}
                                                            {%endfor%}
                                                        {%endif%}
                                                        <div class="radio-inline"><input required type="radio" name="type" value="category" onchange="selectcategorysection('category');" {% if selected_category is defined and selected_category is not empty  and category_type == 'category'%} checked   {% set dispclass = "show" %}  {%endif%} />Category</div>
                                                        <div class="radio-inline"><input required type="radio" name="type" value="section" onchange="selectcategorysection('section');" {% if selected_category is defined and selected_category is not empty  and category_type  == 'section'%} checked  {% set dispclass = "hide" %}  {%endif%} />Section</div>
                                                    </div> 
                                                </div>													 
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Name</div> 
                                                    <div class="col-md-10"><input type="text" class="form-control" name="category_name" placeholder="Enter Category Name " value="{% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{{selected_category.categoryName}}{%endif%}{%endfor%}{%endif%}" required/></div> 
                                                </div>													 
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Description</div> 
                                                    <div class="col-md-10"><!--<input type="text" class="form-control" name="category_description" placeholder="Enter Category Description "  value="{% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{{selected_category.categoryDescription}}{%endif%}{%endfor%}{%endif%}"  required/>--><textarea name="category_description" id="editor1" class="ckeditor" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{{selected_category.categoryDescription}}{%endif%}{%endfor%}{%endif%}</textarea></div> 
                                                </div>													 
                                            </div>
                                            <br>
                                            
                                             
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Sort Order</div> 
                                                    <div class="col-md-4"><input type="text" class="form-control" name="sort_order" placeholder="Enter Sort order "  value="{% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{{selected_category.sort_order}}{%endif%}{%endfor%}{%endif%}"  required/></div>
                                                    <div class="col-md-2 displayonhome {{dispclass}}">Display On Home page</div> 
                                                    <div class="col-md-4 displayonhome {{dispclass}}">
                                                        <div class="radio-inline">
                                                            <input type="radio" name="display_on_home" value="no"  {% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id ) and selected_category.display_on_home == 'no' %}checked{%endif%}{%endfor%}{%else%} checked {%endif%}  />No
                                                        </div>
                                                        <div class="radio-inline">
                                                            <input type="radio" name="display_on_home" value="yes"  {% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id ) and selected_category.display_on_home == 'yes' %}checked{%endif%}{%endfor%}{%endif%} />Yes
                                                        </div>
                                                    </div>
                                                </div>													 
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Logo</div> 
                                                    <div class="col-md-4">
                                                        <input type="file" name="category_logo" id="category_logo" {% if selected_category is defined and selected_category is not empty %}{%else%}{%endif%} />
                                                    </div> 
                                                </div>													 
                                            </div>
                                            <br>
                                            {% if selected_category is defined and selected_category is not empty %}
                                                <div class="row">
                                                    <div class="col-sm-2"><input type="hidden"  name="popular_count"></div>
                                                    <div class="col-sm-2">
                                                        {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': selected_category[0].categoryImageId,'live_path':live_path})) %}
                                                        <img src="{{logo}}" style="height:100px;">
                                                        <input type="hidden" value="{{selected_category[0].categoryImageId}}" name="image_hidden">

                                                    </div>
                                                </div>
                                                <br/>
                                            {% endif %}
                                            {% set selected_parent = 0 %}
                                            {% set pclass = "hide" %} 
                                             {% if selected_category is defined and selected_category is not empty  and parent_have is defined and  parent_have == 'yes'%}
                                                    {% set pclass = "show" %} 
                                            {%endif%}
                                                <div class="row sectioncls {{pclass}}">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">Section</div> 
                                                    <div class="col-md-10">
                                                        <select class="form-control select" name="parent_category" required>
                                                            <option value="0">Select</option>
                                                            {% set selected_parent = 0 %}
                                                            {% if parent_category is defined and parent_category  is not empty %}
                                                                {% for parent_cat in parent_category %}
                                                                    {% set selected_parent = 0 %}
                                                                    {% if parent_cat.languageId == lang.language_master_id  and parent_cat.mainCategoryId != main_category_id  %}
                                                                {% if selected_category is defined and selected_category is not empty %}{% for selected_category in selected_category %}{% if (selected_category.languageId) == (lang.language_master_id) %}{% set selected_parent = selected_category.parentCategoryId %} {%endif%}{%endfor%}{%endif%}
                                                                <option {% if selected_parent == parent_cat.mainCategoryId %} selected {% endif %} value="{{parent_cat.mainCategoryId}}">{{parent_cat.categoryName}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div> 
                                        </div>													 
                                    </div><br>
                                    {#<div class="row hide">
                                              <div class="col-md-12">
                                                            <div class="col-md-2">Domain/Organization</div> 
                                                            <div class="col-md-10">
                                                                      <select class="form-control select" name="domain_id" >
                                                                            
                                                                            {% set  selected_dom = '' %}
                                                                            {% if domain_list is defined and domain_list  is not empty %}
                                                                                              {% for domain_list in domain_list %}
                                                                                                    
                                                                                                    {% if selected_category is defined and selected_category is not empty %}
                                                                                                        {% for selected_category in selected_category %}
                                                                                                              {% if domain_list.domain_id == selected_category.domain_id %}
                                                                                                                    {% set selected_dom = 'selected'%}
                                                                                                               {% else %}
                                                                                                                     {% set selected_dom = '' %}
                                                                                                                    {%endif%}
                                                                                                        {%endfor%}
                                                                                                    {%endif%}
                                                                                                    <option {{selected_dom}} value="{{domain_list.domain_id}}">{{domain_list.domain_name}}</option>
                                                                                                    
                                                                                              {% endfor %}
                                                                            {% endif %}

                                                                      </select>
                                                            </div>
                                              </div>
                                    </div>#}
                                    <div class="form-group">
                                        <div class="col-sm-10 pull-left">
                                            {% if selected_category is defined and selected_category is not empty %}
                                                {% set flag = 'false' %}
                                                {% for selected_category in selected_category %}
                                                    {% if (selected_category.languageId) == (lang.language_master_id) %}
                                                        {% set flag = 'true' %}
                                                        <button name="save" type="submit"  class="btn btn-primary" value="">Update</button>
                                                    {%endif%}
                                                {%endfor%}

                                            {% endif %}
                                            {%if flag == 'false' %}
                                                <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
                                            {% endif %}
                                            <a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

    {#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}

    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

    <script language="Javascript" type="text/javascript">
        function selectcategorysection(selectedvalue){
        //   alert(selectedvalue);
            if(selectedvalue == 'section'){
                  $('.sectioncls').addClass('hide').removeClass('show');
                  
                    $('.displayonhome').addClass('hide').removeClass('show');
            }
            else if(selectedvalue == 'category'){
               $('.displayonhome').addClass('show').removeClass('hide');
                   $('.sectioncls').addClass('show').removeClass('hide');
                 
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
            {% for lang in language %}
                    $('#manage_category_{{lang.language_master_id}}').bootstrapValidator({
                        fields: {
                            category_name: {
                                validators: {
                                    notEmpty: {
                                        message: '* Category Name is required and cannot be empty'
                                    }
                                }
                            },
            {% if parent_category is not defined %}
                                                     category_logo: {
                                                         validators: {
                                                             notEmpty: {
                                                                 message: 'The Category logo is required and cannot be empty'
                                                             }
                                                         }
                                                     },
            {% endif %}
                                                  }
                                              });
        {% endfor %}
                  });

                  $(function () {
                      $('.editor1cls').each(function (e) {
                          CKEDITOR.replace(this.id);
                      });
                  });
    </script>
{% endblock %}