{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Category List {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header" style="padding: 26px 16px 0px 0px;">
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Category/Section List</li>
        </ol>
    </section>
    <section class="content">
        <div class ="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success_msg') %}
                    <div class="alert alert-success alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error_msg') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
            </div>  
        </div>	
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                   {# <div class="box-header with-border">
                        <h3 class="box-title">Category List</h3>
                        
                        <div class="pull-right">
                            <a href="{{path('admin_category_addcategory')}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                        
                    </div>#}
                    <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">  <h4 class="box-title" style="display: inline;">Category List</h4> <div class="pull-right">
                            <a href="{{path('admin_category_addcategory')}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                                    </div>
                                    <div class="col-md-6">   <h4 class="box-title"  style="display: inline;">Section List</h4> <div class="pull-right">
                            <a href="{{path('admin_category_addcategory')}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                                    </div>
                                </div><hr>
                        <div class="row">
                        <div class="col-md-6">
                        <div class="container-fluid table-responsive">
                         
                            <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <th hidden>Main Category ID</th>
                                <th>Image</th>
                                    {% if language is defined and language is not empty %}
                                        {% for language in language %}
                                        <th>Name :{{language.language_name}}</th>
                                        {%endfor%}
                                    {%endif%}
                                <th>Sort </th>
                                <th>Section</th>
                                <!--  <th>Tags</th>-->
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if all_category is defined and all_category is not empty %}
                                        {%for all_category in all_category %}
                                            {%if all_category.category_type == 'category' %}
                                            <tr>
                                                <td hidden>{{all_category.main_category_id}}</td>
                                                <td><img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': all_category.category_image_id,'live_path':live_path}))}}" style="height:30;width:30px;"></td>
                                                    {% if all_category.lang_wise_category is defined and all_category.lang_wise_category is not empty %}
                                                        {% for lang_wise_category in all_category.lang_wise_category %}
                                                        <td>{{lang_wise_category.category_name}}</td>
                                                    {%endfor%}
                                                {%endif%}
                                            <!--<td>{% autoescape false %}{{all_category.category_description}}{% endautoescape %}</td>-->
                                                <td>{{all_category.sort_order}}</td>
                                                <td>{{all_category.parent_category_name}}</td>
                                                <!--<td><a onclick="return confirm('Are you sure?')" class="btn bg-purple btn-xs" href="{{path('admin_category_tags',{'domain':app.session.get('domain')})}}/{{all_category.main_category_id}}/{{all_category.language_id}}" data-toggle="tooltip" data-original-title="View Tags">Tags</a></td>-->
                                                <td>
                                                    <a onclick="return confirm('Are you sure you want to Edit Category?')" class="btn btn-warning btn-xs" href={{path('admin_category_addcategory',{'category_id':all_category.main_category_id})}} data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
                                                    <a onclick="return confirm('Are you sure you want to delete Category?')" class="btn btn-danger btn-xs" href="{{path('admin_category_deletecategory')}}/{{all_category.main_category_id}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a>
                                                </td>
                                            </tr>	
                                            {%endif%}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                <th hidden>Mian Category ID</th>
                                <th>Image</th>
                                    {% if language is defined and language is not empty %}
                                        {% for language in language %}
                                        <th>Name :{{language.language_name}}</th>
                                        {%endfor%}
                                    {%endif%}
                                  <th>Sort</th>
                                <th>Section</th>
                                <!-- <th>Tags</th>-->
                                <th>Action</th>
                                </tfoot>
                            </table>
                        </div>
                        </div>
                                    
                        <div class="col-md-6">
                        <div class="container-fluid table-responsive">
                           
                            <table id="example2" class="table table-bordered table-striped text-center">
                                <thead>
                                <th hidden>Main Category ID</th>
                                <th>Image</th>
                                    {% if language is defined and language is not empty %}
                                        {% for language in language %}
                                        <th>Name :{{language.language_name}}</th>
                                        {%endfor%}
                                    {%endif%}
                                <!-- <th>Description</th>-->
                              {#  <th>Category Section</th>#}
                                <!--  <th>Tags</th>-->
                                <th>Sort</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if all_category is defined and all_category is not empty %}
                                        {%for all_category in all_category %}
                                             {%if all_category.category_type == 'section' %}
                                            <tr>
                                                <td hidden>{{all_category.main_category_id}}</td>
                                                <td><img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': all_category.category_image_id,'live_path':live_path}))}}" style="height:30;width:30px;"></td>
                                                    {% if all_category.lang_wise_category is defined and all_category.lang_wise_category is not empty %}
                                                        {% for lang_wise_category in all_category.lang_wise_category %}
                                                        <td>{{lang_wise_category.category_name}}</td>
                                                    {%endfor%}
                                                {%endif%}
                                            <!--<td>{% autoescape false %}{{all_category.category_description}}{% endautoescape %}</td>-->
                                               {# <td>{%if all_category.is_section == false %} Category {%else%} Section {%endif%}{{all_category.parent_category_name}}</td>#}
                                                <!--<td><a onclick="return confirm('Are you sure?')" class="btn bg-purple btn-xs" href="{{path('admin_category_tags',{'domain':app.session.get('domain')})}}/{{all_category.main_category_id}}/{{all_category.language_id}}" data-toggle="tooltip" data-original-title="View Tags">Tags</a></td>-->
                                                 <td>{{all_category.sort_order}}</td>
                                                 <td>
                                                    <a onclick="return confirm('Are you sure you want to Edit Category?')" class="btn btn-warning btn-xs" href={{path('admin_category_addcategory',{'category_id':all_category.main_category_id})}} data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
                                                    <a onclick="return confirm('Are you sure you want to delete Category?')" class="btn btn-danger btn-xs" href="{{path('admin_category_deletecategory')}}/{{all_category.main_category_id}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a>
                                                </td>
                                            </tr>
                                            {%endif%}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                <th hidden>Mian Category ID</th>
                                <th>Image</th>
                                    {% if language is defined and language is not empty %}
                                        {% for language in language %}
                                        <th>Name :{{language.language_name}}</th>
                                        {%endfor%}
                                    {%endif%}

                               {# <th>Category Section</th>#}
                                 <th>Sort</th>
                                <th>Action</th>
                                </tfoot>
                            </table>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#example1').DataTable();
            $('#example2').DataTable();
        });
    </script>
{% endblock %}