{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Category Tag List {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	  
	<section class="content-header" style="padding: 26px 16px 0px 0px;">
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		   <li><a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}"> Category</a></li>
		  <li class="active">Category tag List</li>
		</ol>
	  </section>
	  <section class="content">
		<div class ="row">
			<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
			  <div class="alert alert-success alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('error_msg') %}
			  <div class="alert alert-danger alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			{% endfor %}
			</div>  
		</div>
		<form class="form-horizontal" id="timeslot_form" method="post" action="{{path('admin_category_savetag',{'domain':app.session.get('domain')})}}">
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">Category Tag List</h3>
					  <div class="row"><br>
						 <div class="col-xs-12">
							  <div class="col-xs-1">
									<b>Tags</b>
							  </div>
							  <div class="col-xs-4">
									<select class="form-control select" name="main_tag_id" required>
									{% if tag_master is defined  and tag_master is not empty %}
										  {% for tag_master in tag_master %}
														<option value="{{tag_master.main_tag_id}}">{{tag_master.tag_display_name}}</option>
										  {% endfor %}
									{% endif %}
										  </select>
							  </div>
							  <div class="col-xs-1">
									<input type="hidden" value="{% if cat_language_id is defined and cat_language_id is not empty %}{{cat_language_id}}{% endif %}" name="cat_language_id">
							  </div>
							  <div class="col-xs-1">
									<input type="hidden" value="{% if cat_main_id is defined and cat_main_id is not empty %}{{cat_main_id}}{% endif %}" name="cat_main_id">
							  </div>
							  <div class="col-xs-4">
							  <button type="submit" class="btn btn-primary" name="save_category_tag" value="save_category_tag">Save</button>
							  </div>
						 </div><br><br>
					  </div>
                    </div>
					 </form><br>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
							<table id="example1" class="table table-bordered table-striped text-center">
								<thead>
									<tr>
										  <th>Tag Name</th>
										  <th>Action</th>
									</tr>
									
								</thead>
								<tbody>
									{% if tag_display is defined and tag_display is not empty %}
										  {%for tag_display in tag_display %}
												<tr>
												<td>{{tag_display.tag_display_name }}</td>
												<td>
													  <a onclick="return confirm('Are you sure want to Delete?')" class="btn btn-danger btn-xs" href="{{path('admin_category_deletecategorytag',{'domain':app.session.get('domain')})}}/{{tag_display.tag_module_relation_id}}/{{tag_display.main_category_id}}/{{tag_display.language_id}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a></td>
												</tr>
										  {% endfor %}
									{% endif %}
								</tbody>
								<tfoot>									
									<tr>
										  <th>Tag Name</th>
										  <th>Action</th>
									</tr>
									
								</tfoot>
							</table>
						</div>

                    </div>
                  </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}