{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Profile {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
	<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	  
	<section class="content-header" >
		
      <h1>
            Add Profile
		</h1>
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Profile List</li>
		</ol>
	  </section>
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
		<div class="alert alert-success alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
		<div class="alert alert-danger alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% set main_profile_id = 0 %}
		
		{% if selected_profile is defined and selected_profile is not empty %}
			{% for selected_profile in selected_profile %}
				{% set main_profile_id = selected_profile.main_profile_id %}
			{%endfor%}
		{%endif%}
		
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">					
					<div class="box-body">
						<div class="nav-tab-custom">
							<ul class="nav nav-tabs">
								{% if  language is defined %}
									{% for lang in language %}
										<li {% if loop.index == 1 %}class="active"{% endif %}>
											<a href="#tab_{{lang.language_master_id}}" data-toggle="tab">{{lang.language_name}}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
						<div class="tab-content">							
							    
								{% set flag1 = 'false' %}
								{% set flag = 'false' %}
								{% if language is defined %}
									{% for lang in language %}
										 <div class="tab-pane fade{% if loop.index == 1 %}in active{% endif %}" id="tab_{{lang.language_master_id}}">
										  
										  <form id="manage_quiz_{{lang.language_master_id}}" class="form" method="POST" enctype="multipart/form-data"  {% if selected_profile is defined and selected_profile is not empty %}{% set flag1 = 'false' %}{% for selected_profile in selected_profile %}{% if (selected_profile.language_id) == (lang.language_master_id) %}{% set flag1 = 'true' %}action="{{path('admin_profiles_updateprofile',{'domain':app.session.get('domain')})}}" {%endif%}{%endfor%}{%else%}action="{{path('admin_profiles_saveprofile',{'domain':app.session.get('domain')})}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_profiles_saveprofile',{'domain':app.session.get('domain')})}}" {%endif%}
										  >
										  
												<input type="hidden" name="language_id" value="{{lang.language_master_id}}" />
												<input type="hidden" name="main_profile_id" value="{{main_profile_id}}" />
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Profile Title</div> 
															<div class="col-md-10"><input type="text" class="form-control" name="profile_name" placeholder="Enter Profile Name " value="{% if selected_profile is defined and selected_profile is not empty %}{% for selected_profile in selected_profile %}{% if (selected_profile.language_id) == (lang.language_master_id) %}{{selected_profile.profile_name}}{%endif%}{%endfor%}{%endif%}" required/></div> 
													  </div>													 
												 </div>
												</br>
												 <div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Profile Description</div> 
															<div class="col-md-10">
																<div class="row">
																	<div class="col-md-12">
																		<textarea id="editor1" class="ckeditor" name="description">{% if selected_profile is defined and selected_profile is not empty %}{% for selected_profile in selected_profile %}{% if (selected_profile.language_id) == (lang.language_master_id) %}{{selected_profile.profile_description}}{%endif%}{%endfor%}{%endif%}</textarea>
																	</div>
																</div>															
															</div> 
													  </div>													 
												 </div>
													
											
												 <br>
												 <div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Profile Image</div> 
															<div class="col-md-4">
															   <input type="file" name="profile_img" id="quiz_logo" {% if selected_profile is defined and selected_profile is not empty %}{%else%}required{%endif%} />
															</div> 
													  </div>													 
												 </div>
												 <br>
												 {% if selected_profile is defined and selected_profile is not empty %}
												  <div class="row">
													<div class="col-sm-2"></div>
													<div class="col-sm-2">
													  {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': selected_profile[0].profile_img,'live_path':live_path})) %}
														  <img src="{{logo}}" style="height:100px;">
														<input type="hidden" value="{{selected_profile[0].profile_img}}" name="image_hidden">
														
													</div>
												  </div>
												  <br/>
												{% endif %}
												
												 <div class="form-group">
													  <div class="col-sm-10 pull-left">
															  {% if selected_profile is defined and selected_profile is not empty %}
																{% set flag = 'false' %}
																{% for selected_profile in selected_profile %}
																  {% if (selected_profile.language_id) == (lang.language_master_id) %}
																	{% set flag = 'true' %}
																	<button name="save" type="submit"  class="btn btn-primary" value="">Update</button>
																  {%endif%}
																{%endfor%}
															
															  {% endif %}
															  {%if flag == 'false' %}
																   <button name="save" type="submit" class="btn btn-primary" value="save_profile">Save</button>
															  {% endif %}
																  <a href="{{path('admin_profiles_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
													  </div>
												</div>
											</form>
										 </div>
									{% endfor %}
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

{#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}
 
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
 
<script language="Javascript" type="text/javascript">
/*tinymce.init({
    selector: "textarea",
	max_chars : 1000,
	width:      '100%',
	height:     '50%',
    plugins: [
        "advlist autolink lists link charmap print preview anchor",
        "searchreplace visualblocks code",
        "insertdatetime table contextmenu paste moxiemanager",
		"textcolor"
    ],
    statusbar:  true,
	menubar:    true,
    toolbar: "sizeselect | fontselect |  fontsizeselect | forecolor backcolor | undo redo | bold underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",

	rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
});  
function validate(){

	var textarea = tinymce.get('description').getContent();
	if ( (textarea=="") || (textarea==null) ) {
        tinymce.get('description').focus();
		return false; 
	}
	return true;
}
*/
</script>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );

	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
</script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	$(document).ready( function () {
    $('#example').DataTable();
} );</script>
{% endblock %}