{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Profiles {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
	<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<section class="content-header">
		<h1>
				Profiles
			  <small></small>
			</h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
			</li>
			<li class="active">
				<a href="#">Profiles</a>
			</li>
		</ol>
	</section>
	<section class="content">
	
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
		<div class="alert alert-success alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
		<div class="alert alert-danger alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		

		<div class="row">
			<div class="col-md-12">
				<div class="box box-solid">
					
					<!-- box header -->
					<div class="box-header with-border">
						<div class="col-md-6">
							<h3 class="box-title"><b>Profiles LIST</b></h3>
						</div>
						<div  class="col-md-6">
            				<div class="pull-right">
            					<a href="{{path('admin_profiles_addprofile',{'domain':app.session.get('domain')})}}" class="btn btn-default">+</a>
            				</div>
            			</div>
                	</div>
                	
                	
				
					<!-- box body -->
					<div class="box-body">
						<div class="container-fluid table-responsive">
				<table id="example" class="table table-bordered table-striped text-center">
								<thead >
									<th>No</th>
									<th hidden>profile id</th>
									<th>Image</th>
									{% if language is defined and language is not empty %}
										  {% for language in language %}
												<th>Name :{{language.language_name}}</th>
										  {%endfor%}
									{%endif%}
									
									<th>Operations</th>
									
								</thead>
								<tbody>
								{%if profile is defined and profile is not empty%}
									{% for profile in profile %}
									<tr>
										<td>{{loop.index}}</td>
										<td hidden>{{profile.main_profile_id}}</td>
												<td><img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': profile.img_id,'live_path':live_path}))}}" style="height:30;width:30px;"></td>
												{% if profile.lang_wise_profle is defined and profile.lang_wise_profle is not empty %}
															{% for lang_wise in profile.lang_wise_profle %}
																  <td>{{lang_wise.profile_name}}</td>
															{%endfor%}
												    {%endif%}

												    <td><a onclick="return confirm('Are you sure you want to Edit Quiz?')" class="btn btn-warning btn-xs" href="{{path('admin_profiles_addprofile',{'domain':app.session.get('domain')})}}/{{profile.main_profile_id}}" data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
													  <a onclick="return confirm('Are you sure you want to delete quiz?')" class="btn btn-danger btn-xs" href="{{path('admin_profiles_deleteprofile',{'domain':app.session.get('domain')})}}/{{profile.main_profile_id}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a></td>
									</tr>
									{% endfor %}
								{%endif%}
								</tbody>
								<thead>
									<th>No</th>
									<th hidden>profile id</th>
									<th>Image</th>
									{% if language is defined and language is not empty %}
										  {% for language in language %}
												<th>Name :{{language.language_name}}</th>
										  {%endfor%}
									{%endif%}
									<th>Operations</th>
								</thead>
							</table>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">

				</div>
			</div>
		</div>

	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	$(document).ready( function () {
    $('#example').DataTable();
} );</script>
{% endblock %}