{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Banner  {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <style>
        .select2-selection--multiple{
            overflow: hidden !important;
            height: auto !important;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice{

            background-color: #cce4f3 !important;
            color: black !important;
        }
        .select2-selection--multiple:before {
            content: "";
            position: absolute;
            right: 7px;
            top: 42%;
            border-top: 5px solid #888;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    </style>
{% endblock %}
{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <section class="content-header">
        <h1>
            Banner
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Banner</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Banner</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_banner_index')}}" class="btn btn-primary btn-flat">&nbsp;&nbsp;Back</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        {%set id = ''%}

                        {%set name = ''%}
                        {%set status = ''%}
                        <div class="container-fluid table-responsive">

                            {%if banner is defined and banner is not empty%}

                                {%set id = banner.id %}
                                {%set name = banner.name %}
                                {%set description  = banner.description %}
                                {%set status = banner.status %}
                                {%set link1 = banner.link1 %}
                                {%set link2 = banner.link2 %}


                            {%endif%}

                            <form id="form" class="form-horizontal" method="post" action="{{path('admin_banner_savebanner')}}" enctype="multipart/form-data">

                                <input type="hidden" name="id" value="{{id}}">




                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-lg-1">
                                            <label>Title</label>
                                        </div>
                                        <div class="col-lg-5">
                                           
                                            <input type="text" class=" form-control" name="name" value="{{name}}" required>
                                        </div>


                                        <div class="col-lg-1">
                                            <label>Tag Line</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" class=" form-control" name="description" value="{{description}}" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12 ">
                                        <div class="col-lg-1">
                                            <label>Link 1</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" class=" form-control" name="link1" value="{{link1}}" required>
                                        </div>
                                        <div class="col-lg-1">
                                            <label>Link 2</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" class=" form-control" name="link2" value="{{link2}}" required>
                                        </div>




                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-lg-1 upload_input">
                                            <label>Image</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="file" id="upload_input" class="form-control upload_input" name="image"  >
                                        </div>
                                        <div class="col-md-1"><label>Status</label></div> 
                                        <div class="col-lg-5">
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="Active" {% if status is defined and status is not empty %}{%   if status == 'Active'%}checked{% endif %}{% else %}checked{%endif%}>Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="Inactive"{% if status is defined and status is not empty %}{%  if status != 'Active'%}checked{%endif%}{%endif%}>Inactive
                                            </label>
                                        </div>
                                    </div>

                                </div>	       
                        </div>												


                        </br>
                        <div class="row">
                            <div class="col-md-12">

                            </div>											 
                        </div>							
                        </br>
                        <div class="row paddTop">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button type="submit" name="submit" value="submit" class="btn btn-primary" value="">
                                        <span><i class="fa fa-check-square-o"></i>&nbsp;
                                            {% if area is defined and area is not empty %}Update{%else%}Save{%endif%}	
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        </form>							

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">

            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="{{asset('bundles/design/')}}js/bootstrap-datetimepicker.js" type="text/javascript"></script>

    <script type="text/javascript">

        function showUpload(type) {
            if (type == 'puzzle') {
                $('.upload_input').show();
                $('.upload_input').attr('required', 'required');
            } else {
                $('.upload_input').hide();
                $('.upload_input').removeAttr('required');
            }
        }
        function getSecondPlayer(first_player_id) {

        }
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('.datepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii'
            });

            $('#example').DataTable();

        });
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select Countries"}
            );
        });
    </script>


{% endblock %}