{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Add | Edit Schedule  {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <style>
        .select2-selection--multiple{
            overflow: hidden !important;
            height: auto !important;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice{

            background-color: #cce4f3 !important;
            color: black !important;
        }
        .select2-selection--multiple:before {
            content: "";
            position: absolute;
            right: 7px;
            top: 42%;
            border-top: 5px solid #888;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
        td.disabled.day {
            opacity: 0.5;
            background: unset;
        }
        td.day {
            background: #f2f2f2;
        }
    </style>
{% endblock %}
{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <section class="content-header">
        <h1>
            Schedule
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Add | Edit Schedule</a>
            </li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Schedule</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_schedule_index', {'domain': app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">

                        {% set schedule_master_id = '' %}
                        {% set name = '' %}
                        {% set start_date = '' %}
                        {% set end_date = '' %}
                        <div class="container-fluid table-responsive">

                            {% if schedule is defined and schedule is not empty %}
                                {% set schedule_master_id = schedule.schedule_master_id %}
                                {% set start_date = schedule.start_date %}
                                {% set end_date  = schedule.end_date %}
                            {% endif %}

                            <form id="form" class="form-horizontal" method="post" action="{{path('admin_schedule_saveschedule', {'domain': app.session.get('domain')})}}" enctype="multipart/form-data">

                                <input type="hidden" name="id" value="{{schedule_master_id}}">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-lg-2">
                                            <label>Start Date</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input id="start_date" type="text" class="form-control datepicker" name="start_date" value="{{start_date}}" required>
                                        </div>
                                    </div>
                                </div>
                                        
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-lg-2">
                                            <label>End Date</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input id="end_date" type="text" class="form-control datepicker" name="end_date" value="{{end_date}}">
                                        </div>
                                    </div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-md-12">

                                    </div>											 
                                </div>							
                                </br>
                                <div class="row paddTop">
                                    <div class="col-md-12 text-center">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <button type="submit" name="submit" value="submit" class="btn btn-primary" value="">
                                                <span><i class="fa fa-check-square"></i>&nbsp;
                                                    {% if schedule is defined and schedule is not empty %}Update{% else %}Save{% endif %}	
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </form>
                    </div>

                    {% if day_array is defined and day_array is not empty %}
                    <br>
                    <hr style="margin-top: 5px;margin-bottom: 5px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <h4><b>Schedule Day List</b></h4>
                        </div>    
                    </div>
                    <hr style="margin-top: 5px;margin-bottom: 5px;" />

                    <table id="example" class="table table-bordered table-striped text-center">
                        <thead>
                            <th>No</th>
                            <th>Scheduled Date</th>
                            <th>Scheduled Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            
                            {% for day1 in day_array %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ day1.schedule_date }}</td>
                                    <td>
                                        {% if day1.assigned_list is not empty %}
                                            <label id="schedule_label_{{ loop.index }}" class="btn btn-flat btn-success btn-xs">Scheduled</label>
                                        {% else %}
                                            <label id="schedule_label_{{ loop.index }}" class="btn btn-flat btn-danger btn-xs">Pending</label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {# onclick="openModel({{ schedule_id }}, '{{ day1.schedule_date }}');" #}
                                        <a class="btn btn-info btn-xs" title="Assign Unit and Trainer" data-toggle="modal" data-target="#myModal_{{ loop.index }}"><i class="fa fa-plus"></i>
                                        </a>
                                    </td>
                                </tr>

                                <div class="modal{{ loop.index }} modal fade" id="myModal_{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Assign Schedule</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="schedule_id{{ loop.index }}" name="schedule_id" value="{{ schedule_id }}">
                                            <input type="hidden" id="schedule_date{{ loop.index }}" name="schedule_date" value="{{ day1.schedule_date }}">
                                            
                                            <div class="row form-group">
                                                <!-- course -->
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Course</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select id="course_list{{ loop.index }}" class="form-control" name="course_id" onchange="getCourseUnit(this.value, {{ loop.index }});">
                                                            <option value="">Select Course</option>
                                                            {% for course in course_list %}
                                                                <option value="{{ course.main_coursemaster_id }}">{{ course.course_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Schedule Title -->
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Schedule Title</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="schedule_title{{ loop.index }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- course units -->
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Course Unit</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select id="course_unit_list{{ loop.index }}" class="form-control" name="course_unit_id">
                                                            <option value="">Select Course Unit</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- course trainer -->
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Course Trainer</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select id="course_trainer_list{{ loop.index }}" class="form-control" name="course_trainer_id">
                                                            <option value="">Select Course Trainer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-flat" onclick="assignSchedule({{ loop.index }});"><i class="fa fa-check"></i>&nbsp;Assign</button>&nbsp;
                                            <button id="model_dismiss_{{ loop.index }}" type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                        <thead>
                            <th>No</th>
                            <th>Scheduled Date</th>
                            <th>Scheduled Status</th>
                            <th>Action</th>
                        </thead>
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script src="{{asset('bundles/design/')}}js/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <style>
        span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus, span.select2.select2-container.select2-container--default, span.select2.select2-container.select2-container--default.select2-container--below {
            width: 100% !important;
        }
    </style>
    <script type="text/javascript">

        var open_model_ind = 0;

        function assignSchedule(ind){
            var schedule_id = $('#schedule_id' + ind).val();
            var schedule_date = $('#schedule_date' + ind).val();
            var course_id = $('#course_list' + ind).val();
            var unit_id = $('#course_unit_list' + ind).val();
            var trainer_id = $('#course_trainer_list' + ind).val();
            var schedule_title = $('#schedule_title' + ind).val();

            $('#myModal').modal('hide');

            var url = "{{ path('admin_schedule_assignschedule', {'domain': app.session.get('domain')}) }}";
            url += `?schedule_id=${schedule_id}&schedule_date=${schedule_date}&course_id=${course_id}&unit_id=${unit_id}&trainer_id=${trainer_id}&schedule_title=${schedule_title}`;

            $.ajax({
                url: url,
                processData: false,
                success: function(response){
                    if(response != ''){
                        alert('Schedule assigned successfully');
                        $(`#schedule_label_${ind}`).removeClass('btn-danger').addClass('btn-success');
                        $(`#schedule_label_${ind}`).html('Scheduled');
                        $(`#model_dismiss_${ind}`).trigger('click');
                        $(`.modal-backdrop`).removeClass('modal-backdrop');
                    } else {
                        console.log('Something Went Wrong');
                    }
                },
                error: function(error){
                    console.log(error)
                }
            }); 
        }

        function getCourseUnit(course_id, ind){
            if(course_id != ''){

                getCourseTrainers(course_id, ind);

                var url = "{{ path('admin_schedule_getcourseunits', {'domain': app.session.get('domain')}) }}/" + course_id;
                $.ajax({
                    url: url,
                    processData: false,
                    success: function(response){
                        $('#course_unit_list' + ind).html(response)
                    },
                    error: function(error){
                        console.log(error)
                    }
                }); 
            }
        }

        function getCourseTrainers(course_id, ind){
            if(course_id != ''){
                var url = "{{ path('admin_schedule_getcoursetrainers', {'domain': app.session.get('domain')}) }}/" + course_id;
                $.ajax({
                    url: url,
                    processData: false,
                    success: function(response){
                        $('#course_trainer_list' + ind).html(response)
                    },
                    error: function(error){
                        console.log(error)
                    }
                }); 
            }
        }

        function openModel(schedule_id, date){
            $('#schedule_id').val(schedule_id);
            $('#schedule_date').val(date);

            $('#myModal').modal('show');
        }

        function showUpload(type) {
            if (type == 'puzzle') {
                $('.upload_input').show();
                $('.upload_input').attr('required', 'required');
            } else {
                $('.upload_input').hide();
                $('.upload_input').removeAttr('required');
            }
        }
        function getSecondPlayer(first_player_id) {

        }
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            /* $('.datepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii'
            }); */

            $('#example').DataTable();

            var $eventSelect = $("#course_list");

            $eventSelect.select2();

            /* $eventSelect.on("select2:select", function (e) { 
                var course_id = e.params.data.id;
                getCourseUnit(course_id)
                getCourseTrainers(course_id)
            });*/
            // $eventSelect.on("select2:close", function (e) { console.log("select2:close", e); });

        });
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select Countries"}
            );

            var sch_start_date = new Date();
            {% if start_date is defined and start_date is not empty %}
                sch_start_date = new Date({{ start_date }});
            {% endif %}

            var sch_end_date = new Date();
            {% if end_date is defined and end_date is not empty %}
                sch_end_date = new Date({{ end_date }});
            {% endif %}

            var end_date = $('#end_date');
            end_date.datepicker({
                format : 'yyyy-mm-dd',
                startDate: sch_end_date
            });

            $('#start_date').datepicker({
                format : 'yyyy-mm-dd',
                startDate: sch_start_date
            }).on('changeDate', function(e) {
                var selected_date = e.target.value;
                var parts = selected_date.split('-');
                var _date = new Date(selected_date);
                _date.setDate(_date.getDate() + 6); 
                $('#end_date').datepicker('setDate', _date);
                $('#end_date').datepicker('setStartDate', _date);
                $('#end_date').datepicker('setEndDate', _date);
            });
        });
    </script>


{% endblock %}