{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Schedule {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Schedule
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Schedule</a>
            </li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Schedule List</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_schedule_addschedule',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead>
                                    <th>No</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if schedule_list is defined and schedule_list is not empty %}
                                        {% for schedule in schedule_list %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{schedule.start_date}}</td>
                                                <td>{{schedule.end_date}}</td>
                                                <td>
                                                    <a onclick="return confirm('Are you sure you want to Edit ?')" class="btn btn-info btn-xs" href="{{path('admin_schedule_addschedule', {'domain': app.session.get('domain')})}}/{{ schedule.schedule_master_id }}"><i class="fa fa-eye"></i></a>
                                                    {# <a class="btn btn-info btn-xs" href="{{path('admin_schedule_scheduledaylist', {'domain': app.session.get('domain')})}}/{{ schedule.schedule_master_id }}"><i class="fa fa-sliders"></i></a> #}
                                                    {# <a onclick="return confirm('Are you sure you want to delete ?')" class="btn btn-danger btn-xs" href="{{path('admin_banner_deletechedule' )}}/{{ schedule.schedule_master_id }}"><i class="fa fa-remove"></i></a> #}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <thead>
                                    <th>No</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
        function ch_facility(facility_id, sender) {
            $.ajax({
                type: 'POST',
                url: "{{path('admin_banner_statusajax')}}",
                data: 'facility_id=' + facility_id + "&flag=change_status",
                success: function (resp) {
                }
            });
        }
    </script>
{% endblock %}