{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Schedule Days {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Schedule Days
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard_index',{'domain': app.session.get('domain')}) }}"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li>
                <a href="{{path('admin_schedule_addschedule', {'domain': app.session.get('domain')})}}/{{ schedule_id }}"><i class="fa fa-tasks"></i>Schedule</a>
            </li>
            <li class="active">
                <a href="#">Schedule Days</a>
            </li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        
                        <div class="pull-right">

                            <a href="{{path('admin_schedule_index', {'domain': app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
    {% endblock %}

                    {% block js %}
                        <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
                        <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
                        <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
                        <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#example').DataTable();

                            });
                            function ch_facility(facility_id, sender) {

                                $.ajax({
                                    type: 'POST',
                                    url: "{{path('admin_banner_statusajax')}}",
                                    data: 'facility_id=' + facility_id + "&flag=change_status",
                                    success: function (resp) {


                                    }
                                });

                            }
                        </script>
                    {% endblock %}