{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Class {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
      <link href="{{asset('bundles/design/')}}css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
  {#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
   #} 
{% endblock %}
{% block content %}

    <section class="content-header" >

        <h1>
            Add Session {%if course_name is defined and course_name is not empty %}  [ Course : {{course_name}} ] {%endif%}
        </h1>
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Session</li>
        </ol>
    </section>
    <section class="content">
    {% for flashMessage in app.session.flashbag.get('success_msg') %}
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_msg') %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">					
                <div class="box-body">
                    <div class="nav-tab-custom">
                        <ul class="nav nav-tabs">
                            {% if  language is defined %}
                                {% for lang in language %}
                                    <li {% if loop.index == 1 %}class="active"{% endif %}>
                                        <a href="#tab_{{lang.language_master_id}}" data-toggle="tab">{{lang.language_name}}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li>
                                <a href="#tab_vc" data-toggle="tab">Video Encrypt</a>
                            </li>
                            <li>
                                <a href="#tab_pgn" data-toggle="tab">PGN files</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">							
                        {% set 	main_course_unit_id = 0 %}
                        {% if selected_class is defined and selected_class is not empty %}
                            {% for selected_class in selected_class %}
                                {% set 	main_course_unit_id = selected_class.main_course_unit_id %}
                            {%endfor%}
                        {%endif%}
                        {% set flag1 = 'false' %}
                        {% set flag = 'false' %}
                        {% if language is defined %}
                            {% for lang in language %}
                                <div class="tab-pane fade{% if loop.index == 1 %}in active{% endif %}" id="tab_{{lang.language_master_id}}">

                                    <form id="manage_category_{{lang.language_master_id}}" class="form" method="POST" enctype="multipart/form-data"  {% if selected_class is defined and selected_class is not empty %}{% set flag1 = 'false' %}{% for selected_class in selected_class %}{% if (selected_class.language_id) == (lang.language_code) %}{% set flag1 = 'true' %}action="{{path('admin_course_updateadminclass',{'class_id':selected_class.main_course_unit_id})}}" {%endif%}{%endfor%}{%else%}action="{{path('admin_course_saveadminclass')}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_course_saveadminclass')}}" {%endif%}
                                          {% if selected_class is defined and selected_class is not empty %} {%else%} {%endif%} >
                                        <input type="hidden" name="language_id" value="{{lang.language_code}}" />
                                        <input type="hidden" name="course_id" value="{{course_id}}" />
                                        <input type="hidden" name="main_course_unit_id" value="{{main_course_unit_id}}" />
                                        <input type="hidden" name="typelive" value="normal" />
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Session Name</div> 
                                                <div class="col-md-10"><input type="text" class="form-control" name="class_name" placeholder="Enter Class Name " value="{% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{{selected_class.unit_name}}{%endif%}{%endfor%}{%endif%}" required/></div> 
                                            </div>													 
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Session Description</div> 
                                                <div class="col-md-10"><input type="text" class="form-control" name="description" placeholder="Enter Class Name " value="{% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{{selected_class.instruction}}{%endif%}{%endfor%}{%endif%}" required/></div> 
                                            </div>													 
                                        </div>
                                        <br>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Assign Trainer</div> 
                                                
                                                <div class="col-md-4">
                                                    <select class="form-control select trainer_id" name="trainer_id" {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{% if selected_class.course_type != "1" %} {%else%} required {% endif %}{%endif%}{%endfor%}{%endif%}    >
                                                        <option value="0">select Trainer</option>
                                                        {% if trainermaster is defined and trainermaster is not empty %}
                                                            {% for trainermaster in trainermaster %}
                                                                <option value="{{trainermaster.usermaster_id}}" 
                                                                        {% if selected_class is defined and selected_class is not empty %}
                                                    {% for selected_class in selected_class %}
                                                        {% if selected_class.language_id == lang.language_code and selected_class.Lock_feature != "" and selected_class.Lock_feature == selected_class.Created_by %}
                                                            disabled
                                                        {%endif%}
                                                    {%endfor%}
                                                {%endif%}
                                                            {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code and selected_class.Lock_feature != "" and selected_class.Lock_feature == trainermaster.usermaster_id %} selected {%endif%}{%endfor%}{%endif%}>
                                                                    {{trainermaster.user_first_name}} {{trainermaster.user_last_name}}
                                                                </option>

                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div> 

                                                <div class="col-md-2"> Session Type</div> 
                                                <div class="col-md-4">
                                                    <select class="form-control select " name="class_type" required onchange="videodiv(this.value);" >
                                                        <option value="">Select  Session</option>
                                                        <option {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{% if selected_class.course_type == "1" %}selected {% endif %}{%endif%}{%endfor%}{%endif%} value="1" {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{% if selected_class.course_type != "1" %}disabled {% endif %}{%endif%}{%endfor%}{%endif%}>Live</option>
                                                        <option {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{% if selected_class.course_type != "1" %}selected {% endif %}{%endif%}{%endfor%}{%endif%}value="0">Recorded</option>


                                                    </select>
                                                </div> 
                                            </div>													 
                                        </div>

                                        {%set cls_live = "hide" %}

                                        {% set onlyAllowEditId = null %}

                                        {% if selected_class is defined and selected_class is not empty %}
                                            {% for selected_class in selected_class %}
                                                {% if selected_class.language_id == lang.language_code %}
                                                    {% if selected_class.course_type == "1" %}
                                                        {%set cls_live = "show" %}

                                                    {% endif %}

                                                    {% if selected_class.prerequisites == "youtube" %} 
                                                        {% set onlyAllowEditId = "youtube" %}
                                                    {% endif %}

                                                {%endif%}
                                            {%endfor%}
                                        {%endif%}											

                                        <div class="row live_displaywith form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Live With</div> 
                                                <div class="col-md-10">
                                                    <select class="form-control select live_display_input non_editable_select" name="prerequisites" required  >
                                                       <option {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{% if selected_class.prerequisites == "youtube" %}selected {% endif %}{%endif%}{%endfor%}{%endif%} value="youtube"  >Youtube</option>  {# {% if onlyAllowEditId is not empty and onlyAllowEditId != 'youtube' %}
                                                            disabled
                                                            {% endif%}#}
                                                        <option {% if selected_class is defined and selected_class is not empty %}
                                                            {% for selected_class in selected_class %}
                                                            {% if selected_class.language_id == lang.language_code %}{% if selected_class.prerequisites == "zoom" %}selected {% endif %} {%endif%}{%endfor%}{%endif%}value="zoom">Zoom</option> {# {% if onlyAllowEditId is not empty and onlyAllowEditId != 'zoom' %}
                                                                    disabled
                                                                {% endif%}#}


                                                    </select>
                                                </div> 
                                            </div>													 
                                        </div>


                                        <div class="row live_display form-group {{cls_live}}">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Start Date</div> 
                                                <div class="col-md-4"><input type="text" class="form-control non_editable datepicker live_display_input" name="start_date" placeholder="Enter Start date " value="{{"now"|date("Y-m-d H:i") }}"  required/></div> 
                                                <div class="col-md-2">End Date</div> 
                                                <div class="col-md-4"><input type="text" class="form-control non_editable datepicker live_display_input" name="end_date" placeholder="Enter End date " value="{{"now"|date("Y-m-d H:i") }}" required/></div> 
                                            </div>													 
                                        </div>


                                        {%set cls = "hide" %}
                                        {% if selected_class is defined and selected_class is not empty %}
                                            {% for selected_class in selected_class %}
                                                {% if selected_class.language_id == lang.language_code %}
                                                    {% if selected_class.course_type == "0" %}
                                                        {%set cls = "show" %}
                                                    {% endif %}
                                                {%endif%}
                                            {%endfor%}
                                        {%endif%}
                                        
										<!-- <div class="row sessionvideolink {{cls}} "> -->
										
										<div class="row sessionvideolink">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Session Video Link/ID</div> 
                                                <div class="col-md-10"><input type="text" class="form-control sessionvideolinktextbox non_editable" name="sessionvideolink" placeholder="Enter Session video link OR Video Cipher ID" value="{% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if selected_class.language_id == lang.language_code %}{{selected_class.youtubelink}}{%endif%}{%endfor%}{%endif%}" required/></div> 
                                            </div>													 
                                        </div>               




                                        <br>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="col-md-2"> Category</div> 
                                                <div class="col-md-4">
                                                    <select class="form-control select " name="category[]"  multiple >
                                                        <option value="0" selected>Select  Category</option>
                                                        {% set data_id = "" %}
                                                        {% if selected_class is defined and selected_class is not empty %}
                                                            {% for selected_class in selected_class %}
                                                                {% if selected_class.language_id == lang.language_code %}
                                                                    {% set data_id = selected_class.course_media_id %}
                                                                {%endif%}
                                                            {%endfor%}
                                                        {%endif%}

                                                        {% if category is defined and category  is not empty %}
                                                            {% for category in category %}
                                                                <option {% if selected_category is defined and category.main_category_id  in selected_category  %}selected {%  endif %} value="{{category.main_category_id }}">{{category.category_name}}  </option>
                                                            {% endfor %}
                                                        {% endif %}


                                                    </select>
                                                </div>
                                                <div class="col-md-2"> Cover Image</div> 
                                                <div class="col-md-4">
                                                    <input type="file" name="cover_img" class="form-control"  {%if all_course is defined and all_course is not empty %} {%else%} required {%endif%} /> 
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="col-md-2">Course</div> 
                                                <div class="col-md-4">
                                                    <select class="form-control" name="course_id[]" multiple>
                                                        <option value="" selected>Select Course</option>
                                                        {%if all_course is defined and all_course is not empty %}
                                                            {%for all_course in all_course %}
                                                                <option value="{{all_course.coursemaster_id}}" {% if selected_course_list is defined and all_course.coursemaster_id in selected_course_list  %}selected {%  endif %}  >{{all_course.Course_name}}</option>
                                                            {%endfor%}
                                                        {%endif%}
                                                    </select>
                                                </div>
                                                <div class="col-md-2">Level</div> 
                                                <div class="col-md-4">
                                                   
                                                    <select class="form-control" name="level_id[]" multiple>
                                                        <option value="">Select Level</option>
                                                        {%if all_levels is defined and all_levels is not empty %}
                                                            {%for all_levels in all_levels %}
                                                                <option value="{{all_levels.class_level_id}}"  {% if selected_level_list is defined and all_levels.class_level_id in selected_level_list  %}selected {%  endif %} >{{all_levels.level_name}}</option>
                                                            {%endfor%}
                                                        {%endif%}
                                                    </select>
                                                </div>   
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="col-md-2"> TAGS</div> 
                                                <div class="col-md-4">
                                                    <select class="selectpicker1 form-control" name="unit_tag"  >
                                                        <option value="0">Select  Tags</option>
                                                        {% if catdata is defined and catdata is not empty %}
                                                            {% for catdata in catdata %}
                                                              
                                                                    <option value="{{catdata.course_unit_tag_id}}">{{catdata.tag_name}}</option>
                                                                
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <div>
                                                    </div>
                                                </div>
                                                    <div class="col-md-2"> <label>Add New Tag</label></div>
                                                    <div class="col-md-4"> <input type="text" name="new_tag_name" class="form-control"/></div>
                                                
                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 pull-left">
                                                {% if selected_class is defined and selected_class is not empty %}
                                                    {% set flag = 'false' %}
                                                    {% for selected_class in selected_class %}
                                                        {% if (selected_class.language_id) == (lang.language_master_id) %}
                                                            {% set flag = 'true' %}
                                                            <button name="save" type="submit"  class="btn btn-primary" value="">Update</button>
                                                        {%endif%}
                                                    {%endfor%}

                                                {% endif %}
                                                {%if flag == 'false' %}
                                                    <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
                                                {% endif %}
                                                <a href="{{path('admin_course_viewadmin',{'domain':app.session.get('domain'),'course_id':course_id})}}"  class="btn btn-default form-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                         </div>  
                                            {% endfor %}
                                                {% endif %}
                          <div class="tab-pane fade" id="tab_vc">
                            <form id="vc_form" class="form" method="POST" enctype="multipart/form-data" action = "{{path('admin_course_uploadvideo')}}">
                                <br>
                                {% set base_URL = "https://skillgamesacademy.com/chess_coaching_site" %}
                                 <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-10">    
                                                    {%if private_flag == "1" %}
                                                        <h4 style="color:red;">Video already Uploaded and Encrypted on Server Privately  <a target="_blank" href="{{base_URL}}/#/preview/{{main_course_unit_id}}"> Preview</a></h4>
                                                     {%endif%}
                                                </div>
                                            </div>
                                 </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">Enter Password </div> 
                                        <div class="col-md-4">
                                            <input type ="password" name="password" class="form-control" required placeholder="Enter Passsword for Video encryption" />
                                        </div>
                                      
                                    </div>   
                                </div>   
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">Upload Video </div> 
                                        <div class="col-md-4">
                                            <input type="hidden" name="course_id" value="{{course_id}}" />
                                            <input type="hidden" name="main_course_unit_id" value="{{main_course_unit_id}}" />
                                            <input type ="file" name="video_upload" class="form-control"  />
                                        </div>
                                        <div class="col-md-2">
                                            <input type ="button" name="submit" class="btn btn-sm btn-warning" value="OR"  />
                                        </div>
                                    </div>   
                                </div>   
                                            <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">Uploaded Video Cipher ID </div> 
                                        <div class="col-md-4">
                                          <input type ="text" name="uploaded_video_cipher_id" class="form-control"  />
                                        </div>
                                        <div class="col-md-2">
                                            <input type ="submit" name="submit" class="btn btn-success" value="Upload"  />
                                        </div>
                                    </div>   
                                </div>   
                              </form>
                          </div>  
                         <div class="tab-pane fade" id="tab_pgn">
                            <form id="vc_form" class="form" method="POST" enctype="multipart/form-data" action = "{{path('admin_course_uploadfiletype')}}">
                                <br>
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">File Type </div> 
                                        <div class="col-md-4">
                                            <select class="form-control" name="pgn_file_type" >
                                                <option name="">Select File Type</option>
                                                <option name="pdf">PDF</option>
                                                <option name="pgn">PGN</option>
                                            </select>
                                        </div>
                                      
                                    </div>   
                                </div>   
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">File Title </div> 
                                        <div class="col-md-4">
                                            <input type="text" name="file_name" class="form-control" placeholder="Enter File Title"/>
                                        </div>
                                      
                                    </div>   
                                </div>   
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">Upload File </div> 
                                        <div class="col-md-4">
                                           
                                            <input type="hidden" name="course_id" value="{{course_id}}" />
                                            <input type="hidden" name="main_course_unit_id" value="{{main_course_unit_id}}" />
                                            <input type ="file" name="filetype_upload" class="form-control" required />
                                        </div>
                                        <div class="col-md-2">
                                            <input type ="submit" name="submit" class="btn btn-success" value="Upload"  />
                                        </div>
                                    </div>   
                                </div>   
                            </form><br>
                                            <hr>
                             <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>File Name</th>
                                                    <th>File Path</th>
                                                    <th>File Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%if unit_files is defined and unit_files is not empty %}
                                                    {%for  unit_files in unit_files %}
                                                        <tr>
                                                            <td>{{loop.index}}</td>
                                                             <td>{{unit_files.media_file_name}}</td>
                                                            <td><a href="{{unit_files.media_url}}" target="_blank"> {{unit_files.media_url}}</a></td>
                                                            <td>{{unit_files.media_type}}</td>
                                                           
                                                        </tr>
                                                    {%endfor%}
                                                {%endif%}
                                            </tbody>
                                        </table>
                                    </div>   
                                </div>   
                          </div>  
                    </div>
                                                    </div>
</div>
</div>
</section>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
	<script src="{{asset('bundles/design/')}}js/bootstrap-datetimepicker.js" type="text/javascript"></script>
	
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
    {#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}

    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

    <script language="Javascript" type="text/javascript">
                                                /*tinymce.init({
                                                 selector: "textarea",
                                                 max_chars : 1000,
                                                 width:      '100%',
                                                 height:     '50%',
                                                 plugins: [
                                                 "advlist autolink lists link charmap print preview anchor",
                                                 "searchreplace visualblocks code",
                                                 "insertdatetime table contextmenu paste moxiemanager",
                                                 "textcolor"
                                                 ],
                                                 statusbar:  true,
                                                 menubar:    true,
                                                 toolbar: "sizeselect | fontselect |  fontsizeselect | forecolor backcolor | undo redo | bold underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",

                                                 rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
                                                 });  
                                                 function validate(){

                                                 var textarea = tinymce.get('description').getContent();
                                                 if ( (textarea=="") || (textarea==null) ) {
                                                 tinymce.get('description').focus();
                                                 return false; 
                                                 }
                                                 return true;
                                                 }
                                                 */
    </script>

    <script>
        {#$(document).ready( function () {

		$('.datepicker').datetimepicker({
			format: 'yyyy-mm-dd hh:ii'
		});
            });#}
        $(document).ready(function () {

        {% if selected_class is defined and selected_class is not empty %}
            $('.non_editable').attr('readonly', true);
            $(".datepicker").prop('disabled', true);
        {% else %}							
           $('.datepicker').datetimepicker('setStartDate', new Date());
           $('.datepicker').datetimepicker({
			format: 'yyyy-mm-dd hh:ii'
		});
       {#   $('.datepicker').datetimepicker({
			format: 'yyyy-mm-dd hh:ii'
		});#}
        {% endif %}
        $('#example1').DataTable();
        {% for lang in language %}
            $('#manage_category_{{lang.language_master_id}}').bootstrapValidator({
                fields: {
                    category_name: {
                        validators: {
                            notEmpty: {
                                message: '* Category Name is required and cannot be empty'
                            }
                        }
                    },
            {% if parent_category is not defined %}
                            category_logo: {
                                validators: {
                                    notEmpty: {
                                        message: 'The Category logo is required and cannot be empty'
                                    }
                                }
                            },
            {% endif %}
                        }
                    });
        {% endfor %}
            });
            $(function () {
                $('.editor1cls').each(function (e) {
                    CKEDITOR.replace(this.id);
                });
            });
            $(document).ready(function () {

                $('.selectpicker').selectpicker();
            });
            function videodiv(selectedvalue) {
                // alert(selectedvalue);
                if (selectedvalue == 0) {
					// recorderd sessionvideolink
                    $('.sessionvideolink').removeClass("hide").addClass("show");
                    $('.sessionvideolinktextbox').prop('required', true);

                    $('.live_display').removeClass("show").addClass("hide");
                    $('.live_display_input').removeAttr('required');
                    $('.trainer_id').removeAttr('required');
                } else {
					// live
                    //$('.sessionvideolinktextbox').prop('required', false);
                    $('.live_display').removeClass("hide").addClass("show");
                    $('.trainer_id').attr('required', 'required');
                    $('.live_display_input').attr('required', 'required');
					//$('.sessionvideolinktextbox').prop('required', true);
                    //$('.sessionvideolink').removeClass("show").addClass("hide");
                    $('.sessionvideolinktextbox').removeAttr('required');
                }
            }

    </script>
{% endblock %}