{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Course List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	  
	<section class="content-header" >
		
      <h1>
            Add Course
		</h1>
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Course List</li>
		</ol>
	  </section>
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
		<div class="alert alert-success alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
		<div class="alert alert-danger alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">					
					<div class="box-body">
						<div class="nav-tab-custom">
							<ul class="nav nav-tabs">
								{% if  language is defined %}
									{% for lang in language %}
										<li {% if loop.index == 1 %}class="active"{% endif %}>
											<a href="#tab_{{lang.language_master_id}}" data-toggle="tab">{{lang.language_name}}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
						<div class="tab-content">							
							    {% set 	main_coursemaster_id = 0 %}
								{% if selected_course is defined and selected_course is not empty %}
									{% for selected_course in selected_course %}
										{% set 	main_coursemaster_id = selected_course.main_coursemaster_id %}
									{%endfor%}
								{%endif%}
								{% set flag1 = 'false' %}
								{% set flag = 'false' %}
								{% if language is defined %}
									{% for lang in language %}
										 <div class="tab-pane fade{% if loop.index == 1 %}in active{% endif %}" id="tab_{{lang.language_master_id}}">
										  
										  <form id="manage_category_{{lang.language_master_id}}" class="form" method="POST" enctype="multipart/form-data"  {% if selected_course is defined and selected_course is not empty %}{% set flag1 = 'false' %}{% for selected_course in selected_course %}{% if (selected_course.language_id) == (lang.language_master_id) %}{% set flag1 = 'true' %}action="{{path('admin_course_updatecourse',{'course_id':selected_course.main_coursemaster_id})}}" {%endif%}{%endfor%}{%else%}action="{{path('admin_course_savecourse')}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_course_savecourse')}}" {%endif%}
										  {% if selected_course is defined and selected_course is not empty %} {%else%} {%endif%} >
												<input type="hidden" name="language_id" value="{{lang.language_master_id}}" />
												<input type="hidden" name="main_coursemaster_id" value="{{main_coursemaster_id}}" />
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Course Name</div> 
															<div class="col-md-10"><input type="text" class="form-control" name="course_name" placeholder="Enter Course Name " value="{% if selected_course is defined and selected_course is not empty %}{% for selected_course in selected_course %}{% if (selected_course.language_id) == (lang.language_master_id) %}{{selected_course.course_name}}{%endif%}{%endfor%}{%endif%}" required/></div> 
													  </div>													 
												 </div>
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Course Description</div> 
															<div class="col-md-10"><textarea name="course_description" id="editor1" class="ckeditor" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{% if selected_course is defined and selected_course is not empty %}{% for selected_course in selected_course %}{% if (selected_course.language_id) == (lang.language_master_id) %}{{selected_course.course_description}}{%endif%}{%endfor%}{%endif%}</textarea></div> 
													  </div>													 
												 </div>
												 <br>
												 <div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">Course Logo</div> 
															<div class="col-md-4">
															   <input type="file" name="course_logo" id="course_logo" {% if selected_course is defined and selected_course is not empty %}{%else%}{%endif%} />
															</div> 
													  </div>													 
												 </div>
												 <br>
												 {% if selected_course is defined and selected_course is not empty %}
												  <div class="row">
													<div class="col-sm-2"><input type="hidden"  name="popular_count"></div>
													<div class="col-sm-2">
													  {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': selected_course[0].course_image,'live_path':live_path})) %}
														  <img src="{{logo}}" style="height:100px;">
														<input type="hidden" value="{{selected_course[0].course_image}}" name="image_hidden">
														
													</div>
												  </div>
												  <br/>
												{% endif %}
												
												<div class="row hide">
													  <div class="col-md-12">
															<div class="col-md-2"> Category</div> 
															<div class="col-md-10">
																  <select class="form-control select" name="category" required >
																		<option value="0">Select  Category</option>
 	{% if category is defined and category  is not empty %}
		{% for category in category %}
						
				{% if category.language_id == lang.language_master_id %}
					
						<option {% if selected_course is defined and selected_course[0].courseCatid == category.main_category_id  %}selected {% endif %} value="{{category.main_category_id}}">{{category.category_name}}</option>
					
					{% endif %}
		{% endfor %}
	{% endif %}
																		
					
																  </select>
															</div> 
													  </div>													 
												 </div><br>
												<div class="row hide">
													  <div class="col-md-12">
															<div class="col-md-2">Domain/Organization</div> 
															<div class="col-md-10">
																  <select class="form-control select" name="domain_id" >
																	
																	{% set  selected_dom = '' %}
																	{% if domain_list is defined and domain_list  is not empty %}
																			  {% for domain_list in domain_list %}
																				
																				{% if selected_course is defined and selected_course is not empty %}
																				    {% for selected_course in selected_course %}
																					  {% if domain_list.domain_id == selected_course.domain_id %}
																						{% set selected_dom = 'selected'%}
																					   {% else %}
																						 {% set selected_dom = '' %}
																						{%endif%}
																				    {%endfor%}
																				{%endif%}
																				<option {{selected_dom}} value="{{domain_list.domain_id}}">{{domain_list.domain_name}}</option>
																				
																			  {% endfor %}
																	{% endif %}

																  </select>
															</div>
													  </div>
												</div>
												 <div class="form-group">
													  <div class="col-sm-10 pull-left">
															  {% if selected_course is defined and selected_course is not empty %}
																{% set flag = 'false' %}
																{% for selected_course in selected_course %}
																  {% if (selected_course.language_id) == (lang.language_master_id) %}
																	{% set flag = 'true' %}
																	<button name="save" type="submit"  class="btn btn-primary" value="">Update</button>
																  {%endif%}
																{%endfor%}
															
															  {% endif %}
															  {%if flag == 'false' %}
																   <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
															  {% endif %}
																  <a href="{{path('admin_course_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
													  </div>
												</div>
											</form>
										 </div>
									{% endfor %}
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

{#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}
 
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
 
<script language="Javascript" type="text/javascript">
/*tinymce.init({
    selector: "textarea",
	max_chars : 1000,
	width:      '100%',
	height:     '50%',
    plugins: [
        "advlist autolink lists link charmap print preview anchor",
        "searchreplace visualblocks code",
        "insertdatetime table contextmenu paste moxiemanager",
		"textcolor"
    ],
    statusbar:  true,
	menubar:    true,
    toolbar: "sizeselect | fontselect |  fontsizeselect | forecolor backcolor | undo redo | bold underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",

	rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
});  
function validate(){

	var textarea = tinymce.get('description').getContent();
	if ( (textarea=="") || (textarea==null) ) {
        tinymce.get('description').focus();
		return false; 
	}
	return true;
}
*/
</script>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
	{% for lang in language %}
	$('#manage_category_{{lang.language_master_id}}').bootstrapValidator({
			fields: {
				category_name: {
					validators: {
						notEmpty: {
							message: '* Category Name is required and cannot be empty'
						 }
					 }
				 },
				 {% if parent_category is not defined %}
				  category_logo: {
					  validators: {
						  notEmpty: {
							  message: 'The Category logo is required and cannot be empty'
						  }
					  }
				  },
				  {% endif %}
			 }
		 });
	  {% endfor %}
} );

	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
</script>
{% endblock %}