{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Class {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{asset('bundles/design/')}}css/wickedpicker.css">


{% endblock %}
{% block content %}
	  <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
	<section class="content-header" >
		
      <h1>
            Add Live broadcast
		</h1>
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Class</li>
		</ol>
	  </section>
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
		<div class="alert alert-success alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
		<div class="alert alert-danger alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">					
					<div class="box-body">
						<div class="nav-tab-custom">
							<ul class="nav nav-tabs">
								{% if  language is defined %}
									{% for lang in language %}
										<li {% if loop.index == 1 %}class="active"{% endif %}>
											<a href="#tab_{{lang.language_master_id}}" data-toggle="tab">{{lang.language_name}}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
						<div class="tab-content">							
							    {% set 	main_course_unit_id = 0 %}
								{% if selected_class is defined and selected_class is not empty %}
									{% for selected_class in selected_class %}
										{% set 	main_course_unit_id = selected_class.main_course_unit_id %}
									{%endfor%}
								{%endif%}
								{% set flag1 = 'false' %}
								{% set flag = 'false' %}
								{% if language is defined %}
									{% for lang in language %}
										 <div class="tab-pane fade{% if loop.index == 1 %}in active{% endif %}" id="tab_{{lang.language_master_id}}">
										  
										  <form id="manage_category_{{lang.language_master_id}}" class="form" method="POST" enctype="multipart/form-data"  {% if selected_class is defined and selected_class is not empty %}{% set flag1 = 'false' %}{% for selected_class in selected_class %}{% if (selected_class.language_id) == (lang.language_master_id) %}{% set flag1 = 'true' %}action="{{path('admin_course_updateclass',{'domain':app.session.get('domain')})}}/{{selected_class.course_unit_id}}" {%endif%}{%endfor%}{%else%}action="{{path('admin_course_saveclass',{'domain':app.session.get('domain')})}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_course_saveclass',{'domain':app.session.get('domain')})}}" {%endif%}
										  {% if selected_class is defined and selected_class is not empty %} {%else%} {%endif%} >
												<input type="hidden" name="language_id" value="{{lang.language_master_id}}" />
												<input type="hidden" name="course_id" value="{{course_id}}" />
												<input type="hidden" name="main_course_unit_id" value="{{main_course_unit_id}}" />
												<input type="hidden" name="typelive" value="broadcast" />
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">broadcast Name</div> 
															<div class="col-md-10"><input type="text" class="form-control " name="class_name" placeholder="Enter Class Name " value="{% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if (selected_class.language_id) == (lang.language_master_id) %}{{selected_class.unit_name}}{%endif%}{%endfor%}{%endif%}" required/></div> 
													  </div>													 
												 </div>
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">broadcast Start</div> 
															<div class="col-md-5 bootstrap-datepicker"><input  class=" datepicker form-control" id="datepicker" name="startdate" data-date-start-date="0d"  required/></div> 
															<div class="col-md-5"><input  class="timepicker form-control" name="starttime"  required/></div> 
													  </div>													 
												 </div>	
												<br>
												<div class="row">
													  <div class="col-md-12">
															<div class="col-md-2">broadcast End</div> 
															<div class="col-md-5 bootstrap-datepicker"><input  class="datepicker form-control" name="enddate" data-date-start-date="0d"  required/></div> 
															<div class="col-md-5"><input  class="form-control timepicker" name="endtime"  required/></div> 
													  </div>			
												</div>	
												<br>
												<div class="row">
													<div class="col-md-12">
														<div class="col-md-2">Privacy Status</div>
														<div class="col-md-10"> 
														<label class="radio-inline">
													      <input type="radio" name="optradio" value="public" >Public
													    </label>
													    <label class="radio-inline">
													      <input type="radio" name="optradio" value="private">Private
													    </label>
													 </div>
													</div>											 
												</div>							
												<br>
											
												<div class="row hide">
													<div class="col-md-12">
														<div class="col-md-2"> Class Type</div> 
															<div class="col-md-10">
																<select class="form-control select" name="class_type" required >
																	<option value="0">Select  Class</option>
																		{% if course_type is defined %}
																			{% for course_type in course_type %}
 																	<option {% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if (selected_class.language_id) == (lang.language_master_id) and course_type.coursetype_id ==selected_class.course_type   %}selected{%endif%}{%endfor%}{%endif%} value="{{course_type.coursetype_id}}" >{{course_type.name_label}}</option>
 																	{% endfor %}
 																	{% endif %}
					
																  </select>
															</div> 
													  </div>													 
												 </div>
												<br>
												{#<div class="row hide">
													  <div class="col-md-12">
															<div class="col-md-2">Youtube Link</div> 
															<div class="col-md-10"><input type="text" class="form-control" name="youtube_link" placeholder="Enter Youtube link" value="{% if selected_class is defined and selected_class is not empty %}{% for selected_class in selected_class %}{% if (selected_class.language_id) == (lang.language_master_id) %}{{selected_class.youtubelink}}{%endif%}{%endfor%}{%endif%}" required/></div> 
													  </div>													 
												 </div>#}
												
												
												
												
												 <div class="form-group">
													  <div class="col-sm-10 pull-left">
															  {% if selected_class is defined and selected_class is not empty %}
																{% set flag = 'false' %}
																{% for selected_class in selected_class %}
																  {% if (selected_class.language_id) == (lang.language_master_id) %}
																	{% set flag = 'true' %}
																	<button name="save" type="submit"  class="btn btn-primary" value="">Update</button>
																  {%endif%}
																{%endfor%}
															
															  {% endif %}
															  {%if flag == 'false' %}
																   <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
															  {% endif %}
																<a href="{{path('admin_course_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
													  </div>
												</div>
											</form>
										 </div>
									{% endfor %}
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

{#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}
 
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
 
<script language="Javascript" type="text/javascript">
/*tinymce.init({
    selector: "textarea",
	max_chars : 1000,
	width:      '100%',
	height:     '50%',
    plugins: [
        "advlist autolink lists link charmap print preview anchor",
        "searchreplace visualblocks code",
        "insertdatetime table contextmenu paste moxiemanager",
		"textcolor"
    ],
    statusbar:  true,
	menubar:    true,
    toolbar: "sizeselect | fontselect |  fontsizeselect | forecolor backcolor | undo redo | bold underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",

	rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
});  
function validate(){

	var textarea = tinymce.get('description').getContent();
	if ( (textarea=="") || (textarea==null) ) {
        tinymce.get('description').focus();
		return false; 
	}
	return true;
}
*/
</script>
   <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
<script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

<script src="{{asset('bundles/design/')}}js/wickedpicker.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
$('.datepicker').datepicker({
				format: 'dd-mm-yyyy',
				setDate: GetFormattedDate(),
				minDate: 0
		});
var id = GetFormattedDate();
var today = new Date();
var curr_hour = today.getHours();
var curr_min = today.getMinutes();
$('.datepicker').val(id);
  $('.timepicker').wickedpicker({now: curr_hour+':'+curr_min, twentyFour: false, title:
                    'My Timepicker', showSeconds: false});
});

function GetFormattedDate() {
    var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
var curr_hour = today.getHours();
var curr_min = today.getMinutes();

//var curr_sec = today.getSeconds();

if(dd<10){
    dd='0'+dd;
} 
if(mm<10){
    mm='0'+mm;
} 


    return dd + "-" + mm + "-" + yyyy;
}

    $('#example1').DataTable();
	


	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
</script>
{% endblock %}