{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Course List {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header" style="padding: 26px 16px 0px 0px;">
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Course List</li>
        </ol>
    </section>
    <section class="content">
        <div class ="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success_msg') %}
                    <div class="alert alert-success alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error_msg') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
            </div>  
        </div>	
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Course List</h3>
                        <div class="pull-right">

                            <a href="{{path('admin_course_addcourse',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD Course</a>
                        </div>

                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <th hidden>Mian Course ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <!-- <th>Description</th>-->
                                <th>Category</th>
                                    {% if app.session.get('role_id') == 3 %}  
                                    <th>Approval</th>
                                    {% endif %}
                                <!--  <th>Tags</th>-->
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if all_course is defined and all_course is not empty %}
                                        {% for all_course in all_course %}
                                            <tr>
                                                <td hidden>{{all_course.main_coursemaster_id}}</td>
                                                <td><img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': all_course.course_image,'live_path':live_path}))}}" style="height:30;width:30px;"></td>
                                                    {% if all_course.lang_wise_course is defined and all_course.lang_wise_course is not empty %}
                                                    <td>{{all_course.course_name}}</td>

                                                {%endif%}
                                                <td>{{all_course.category_name}}</td>
                                                {% if app.session.get('role_id') == 3 %} 

                                                    <td class="approval_{{all_course.main_coursemaster_id}}">
                                                        {% if all_course.approvalstatus == "pending" %}
                                                            <button class="btn btn-success btn-xs text-dark"  onclick="approval({{all_course.main_coursemaster_id}}, 'accepted')">Approve</button> <button  class="btn btn-danger text-dark btn-xs"   onclick="approval({{all_course.main_coursemaster_id}}, 'rejected')">Reject</button>
                                                        {% else %}
                                                            Accepted
                                                        {% endif %}
                                                    </td>

                                                {% endif %}
                                                <td>
                                                    {% if app.session.get("role_id") == ADMIN_ROLE_ID %}	
                                                        <a onclick="return confirm('Are you sure you want to View Course?')" class="btn btn-primary btn-xs" href="{{path('admin_course_viewadmin',{'domain': app.session.get('domain'),'course_id':all_course.main_coursemaster_id})}}" data-toggle="tooltip" data-original-title="View"><span class="fa fa-eye"></span>&nbsp; View Session &nbsp; </a>


                                                        <a onclick="return confirm('Are you sure you want to Edit Course?')" class="btn btn-warning btn-xs" href="{{path('admin_course_addcourse',{'course_id':all_course.main_coursemaster_id})}}" data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
                                                        <a onclick="return confirm('Are you sure you want to delete Course?')" class="btn btn-danger btn-xs" href="{{path('admin_course_deletecourse',{'course_id':all_course.main_coursemaster_id})}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a>
                                                        {% endif %}
                                                </td>

                                            </tr>	
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                <th hidden>Mian Category ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <!-- <th>Description</th>-->
                                <th>Category</th>
                                    {% if app.session.get('role_id') == 3 %}  
                                    <th>Approval</th>
                                    {% endif %}
                                <!-- <th>Tags</th>-->
                                <th>Action</th>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        function approval(course_id, flag){
        $.ajax({
        url: "{{path('admin_course_approve',{'domain':app.session.get('domain')})}}",
                data: {course_id : course_id, flag:flag},
                cache: false,
                success: function(html){

                if (html == 1){
                $(".approval_" + course_id).html("Accepted");
                }
                if (html == 0){
                location.reload(true);
                }
                }
        });
        }
        $(document).ready(function() {
        $('#example1').DataTable();
        });
    </script>
{% endblock %}