{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Course  {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header" style="padding: 26px 16px 0px 0px;">
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">View Course</li>
		</ol>
	  </section>
	  <section class="content">
		<div class ="row">
			<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
			  <div class="alert alert-success alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('error_msg') %}
			  <div class="alert alert-danger alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			{% endfor %}
			</div>  
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">					
					<div class="box-body" >
						<div class="row">
							<div class="col-md-12">
								<h4><strong>{{selected_class.unit_name}}</strong></h4>
							</div>
							<div class="col-md-12">
								<iframe allowfullscreen="" frameborder="0" height="270" src="https://www.youtube.com/embed/{{videoid}}" width="480"></iframe>
							</div>
							<div class="col-md-12 hide">
								<iframe allowfullscreen="" frameborder="0" height="270" src="https://www.youtube.com/live_chat?v={{videoid}}&amp;embed_domain=skillgamesacademy.com" width="480"></iframe><br />
							<a class = "hide" style="cursor:pointer"
							onclick=" window.open('https://www.youtube.com/live_chat?v={{videoid}}','',' scrollbars=yes,menubar=no,width=100px, resizable=yes,toolbar=no,location=no,status=no')" class="btn btn-info" 
   
 >Live Chat</a>
</div>
						</div>
						<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock  %}