{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Class List {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

    <section class="content-header" style="padding: 26px 16px 0px 0px;">
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}">Dashboard</a></li>
            {%if selected_course is defined and selected_course is not empty %}
            <li><a href="{{path('admin_course_index',{'domain':app.session.get('domain')})}}">Course</a></li>
            {%endif%}
            <li class="active">Session List </li>
        </ol>
    </section>
    <section class="content">
        <div class ="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('success_msg') %}
                    <div class="alert alert-success alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error_msg') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                    </div>
                {% endfor %}
            </div>  
        </div>	
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Session List {%if selected_course is defined and selected_course is not empty %} [ Course : {{selected_course.course_name}} ] {%endif%}</h3>
                        <div class="pull-right">

                            {%if true or selected_course is defined and selected_course is not empty %}  <a href="{{path('admin_course_addadminclass',{course_id:course_id})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD Session</a> {%endif%}
                        </div>

                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Class Name</th>
                                <th>Category</th>
                                <th>Course</th>                          
                                <th>Created  </th>
                                <th>Trainer Assigned </th>
                                <th>Status</th>
                                <th>Action</th>
                               {%if selected_course is defined and selected_course is not empty %}
                               <th>Send</th>
                                <th>Send Msg</th>{%endif%}
                                </thead>
                                <tbody>
                                    {% if selected_class is defined and selected_class is not empty %}
                                        {% for all_course in selected_class %}
                                            <tr>
                                                
                                                <td >{{loop.index}}</td>
                                                <td>{%if all_course.class_cover_image is not empty  %}<img src="{{all_course.class_cover_image}}" height="50" width="50" />{%endif%}</td>
                                                <td>{{all_course.unit_name}} 
                                                    {%if all_course.course_type == 'Live' %} <span class="pull-right-container"><small class="label pull-right bg-green">{{all_course.course_type}}</small></span> {%endif%}
                                                    {%if all_course.course_type == 'Recorded' %} <span class="pull-right-container"><small class="label pull-right bg-blue">{{all_course.course_type}}</small></span> {%endif%}
                                                    
                                                <td>{{all_course.category_name}}</td>
                                                <td>{{all_course.course_name}}</td>
                                                <td>{% if all_course.createdby is not empty %}{{all_course.createdby.name}}({{all_course.createdby.role_name}}) {% endif %}<b> <font color="orange"> @</font></b> {{all_course.create_date|date("d-M-Y H:i")}}</td>

                                                <td>{% if all_course.createdby is not empty %}{% if all_course.createdby['role_name'] == "admin" %}
                                                    <select class="selectpicker" dataid = "{{all_course.unit_id}}" data-width="fit" onchange="selectpickercall(this,'{{all_course.unit_id}}','{{course_id}}');">
                                                        <option value="">Select trainer</option>
                                                        {% for trainermaster in trainermaster %}
                                                            <option {% if trainermaster.usermaster_id ==all_course.assignuser_id %} selected {%endif%} value="{{trainermaster.usermaster_id}}">{{trainermaster.user_first_name}} {{trainermaster.user_last_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                {% else %}
                                                    <strong>{{all_course.createdby['name']}}</strong>
                                                    {% endif %}
                                                    {% endif %}
                                                    </td>

                                                    <td>{% if all_course.status is defined and all_course.status is not empty %}
                                                {% if all_course.status == 'Active' %}{% set checked="checked" %}{%else%}{% set checked="" %}{% endif %}
                                                <input data-on="Active" class="status status_{{all_course.unit_id}}" data-off="Inactive" type="checkbox"
                                                       onchange="ch_facility('{{all_course.unit_id}}', this);" data-toggle="toggle" data-size="mini"
                                                       data-onstyle="success" {{checked}} />
                                                {% endif %}</td>	




                                                <td>	



                                                    <a onclick="return confirm('Are you sure you want to Edit Course?')" class="btn btn-warning btn-xs" href="{{path('admin_course_addadminclass',{'course_id':all_course.course_id,'class_id':all_course.unit_id})}}" data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
                                                    <a onclick="return confirm('Are you sure you want to delete Course?')" class="btn btn-danger btn-xs" href="{{path('admin_course_deleteadminclass',{'course_id':course_id,'class_id':all_course.unit_id})}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a>

                                                </td>
                                              {%if selected_course is defined and selected_course is not empty %}  <td> <a onclick="return confirm('Are you sure you want to Send Notifications ?')" class="btn btn-info btn-xs" href="{{path('admin_course_sendnotificationadminclass',{'course_id':course_id,'class_id':all_course.unit_id})}}" data-toggle="tooltip" data-original-title="Send Email">Send</a></td>
                                                <td> <a onclick="return confirm('Are you sure you want to Send Notifications ?')" class="btn btn-info btn-xs" href="{{path('admin_course_sendmessageadminclass',{'course_id':course_id,'class_id':all_course.unit_id})}}" data-toggle="tooltip" data-original-title="Send Email">Send</a></td>
{%endif%}
                                            </tr>	
                                            {% endfor %}
                                                {% endif %}
                                                </tbody>
                                                <tfoot>
                                                <thead>
                                                <th>No.</th>
                                                <th>Image</th>
                                                <th>Class Name</th>
                                                <th>Category</th>
                                                <th>Course</th>                          
                                                <th>Created  </th>
                                                <th>Trainer Assigned </th>
                                                <th>Status</th>
                                                <th>Action</th>
                                               {%if selected_course is defined and selected_course is not empty %} <th>Send</th>
                                                <th>Send Msg</th>{%endif%}
                                                </thead>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
    <script>
        function ch_facility(facility_id, sender) {

            $.ajax({
                type: 'POST',
                url: "{{path('admin_course_statusajax')}}",
                data: 'facility_id=' + facility_id + "&flag=change_status",
                success: function (resp) {


                }
            });

        }
        function approval(course_id, flag) {
            $.ajax({
                url: "{{path('admin_course_approve',{'domain':app.session.get('domain')})}}",
                data: {course_id: course_id, flag: flag},
                cache: false,
                success: function (html) {

                    if (html == 1) {
                        $(".approval_" + course_id).html("Accepted");
                    }
                    if (html == 0) {
                        location.reload(true);
                    }
                }
            });
        }
      //  $(".selectpicker").change(function () {
        function selectpickercall(value,unit_id,course_id){
            trainer_id  =  $(value).children("option:selected").val();
             //value = $(".selectpicker").val();
           // var unit_id = $(".selectpicker").attr('dataid'); console.log("hewrwr");
            if (trainer_id != "" && unit_id != "") {
                console.log("12hewrwr");
                $.ajax({
                    url: "{{path('admin_course_assigntrainer')}}",
                    data: {unit_id: unit_id, value: trainer_id},
                    cache: false,
                    success: function (html) {
                        console.log(html);
                        if(html == 1 || html == "1"){
                             $.ajax({
                                url: "{{path('admin_user_enroll',{'domain':app.session.get('domain')})}}",
                                data: {course_id: course_id, user_id: trainer_id},
                                cache: false,
                                success: function (html) {
                                    
                                }
                            });
                        }

                    }
                });
            }
            }
        //});
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
            $('#example1').DataTable({
                "initComplete": function () {
                    $('.selectpicker').selectpicker();
                }
            });

        });


    </script>
{% endblock %}