{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Course  {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header" style="padding: 26px 16px 0px 0px;">
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">View Course</li>
		</ol>
	  </section>
	  <section class="content">
		<div class ="row">
			<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
			  <div class="alert alert-success alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('error_msg') %}
			  <div class="alert alert-danger alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			{% endfor %}
			</div>  
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">					
					<div class="box-body">
						<div class="row">
							<div class="col-md-7">
								<h3>{{selected_course.course_name}} {% if app.session.get('role_id') == 1 or app.session.get('role_id') == 3  %} <a href="{{path('admin_course_addcourse',{'domain':app.session.get('domain')})}}/{{selected_course.main_coursemaster_id}}"><i class="fa fa-pencil-alt"></i></a>{% endif %}</h3>
							</div>
							<div class="col-md-2 "><a nclick="return confirm('Are you sure you want to add class?')" href="{{path('admin_course_addclass',{course_id:selected_course.main_coursemaster_id})}}" type="button" class="btn btn-info"><i class="fa fa-plus">Add Class</i></a></div>
							<div class="col-md-3 hide" ><a nclick="return confirm('Are you sure you want to add class?')" href="{{path('admin_course_addlive',{'domain':app.session.get('domain')})}}/{{selected_course.main_coursemaster_id}}" type="button" class="btn btn-success"><i class="fa fa-video-camera"> Live broadcast</i></a></div>
							
							<div class="col-md-12"><img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': selected_course.courseImage,'live_path':live_path}))}}" class="img-thumbnail col-md-2"> </div>
						</div>


					</div>
				</div>
				<div class="row">
{% if selected_class is defined %}					
	{% for selected_class in selected_class %}					
<div class="col-md-3" style=" 
">
  <div class="box box-primary">
    <div class="box-body">
      
     
      <figure class="figure">
        <img src="
https://img.youtube.com/vi/{{selected_class.videoid}}/0.jpg" class="figure-img img-fluid img img-rounded" data-holder-rendered="true" style="border-radius: 62px;height: 135px; width: 100%; display: block;">
        <figcaption class="figure-caption text-left">
          <b><span class="fa fa-file" style="margin-left: 15px;margin-bottom: 10px;"></span>&nbsp;
          <span id="unitSts_63"> {{selected_class.unit_name|slice(0, 25)}}.. </span>
          </b> 
        </figcaption>
        <br>
        <figcaption class="figure-caption">
          <span class="hover_operations" id="edit_menu_63" style="display: block;">
            
            <!--- Edit link ---->
           
            	{#<a style="cursor:pointer"
							onclick=" window.open('https://www.youtube.com/live_cards?v={{selected_class.videoid}}','',' scrollbars=yes,menubar=no,width=100px, resizable=yes,toolbar=no,location=no,status=no')"  
   
 >Add Content</a>#}
           
            <a href="{{path('admin_course_addclass',{'course_id':selected_course.main_coursemaster_id,'class_id':selected_class.unit_id})}}">Edit</a>
            |
            <!---- Delete link -->
            <a href="{{path('admin_course_deleteclass',{'course_id':selected_course.main_coursemaster_id,'class_id':selected_class.unit_id})}}">Delete</a> |
          
            
          </span>
          <span class="hover_operations">
          <label> &nbsp;Type : {% if "1" == selected_class.course_type %}Live {% else %}Recorded{% endif %}</label>
          </span>
          <span class="hover_operations">
          <br>Language:  English
          </span>
          <span class="hover_operations">

            <br> 
            <center><label class="text-left" style="color:pink;"></label></center>
          </span>

          <button class="btn btn-xs btn-success hide pull-left">Free</button>
          <a href="{{path('admin_course_preview')}}/{{selected_class.unit_id}}"> <button class="btn btn-xs btn-info pull-right">Preview</button></a> 
        </figcaption>
      </figure>
    </div>
  </div>
</div>
{% endfor %}	
{% endif %}
						</div>
			</div>
		</div>

<script type="text/javascript">
	


</script>
{% endblock %}
