<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        {#<link href="{{asset('bundles/design/')}}/images/favicon.jpg" rel="shortcut icon">#}
        <title>{% block title %}{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.4 -->
        <link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Fontawesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link href="{{asset('bundles/design/')}}css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" /> {% block css %}{% endblock %}
        <link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

        <!-- jQuery 2.1.4 -->
        <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="{{asset('bundles/design/')}}js/bootstrap.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->


        <!-- DataTable -->
        <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/design/')}}css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

        <!-- custom css -->
        <link href="{{asset('bundles/design/')}}css/custom.css" rel="stylesheet" type="text/css" />

        <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/buttons.print.min.js" type="text/javascript"></script>

        <script src="{{asset('bundles/design/')}}js/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/jszip.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/pdfmake.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/vfs_fonts.js" type="text/javascript"></script>
        <script src="{{asset('bundles/design/')}}js/button.html5.min.js" type="text/javascript"></script>

        <style>
            .logo-mini img {
                width: 40px;
            }
            .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
                background-color: #f39c12;
                border-top-color: #f39c12;
            }

        </style>

        <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <!-- Additional files for the Highslide popup effect -->
        <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
        <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>

        <script src="https://code.highcharts.com/highcharts-3d.js"></script>


    </head>

    <body class="skin-blue-light sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">My Academy
                        {#<img src="{{asset('bundles/design/')}}images/logo.jpg" width="70px">#}
                    </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">My Academy
                        {#<img src="{{asset('bundles/design/')}}images/main_logo.jpg" width="70px">#}
                    </span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" >
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <li class="dropdown user user-menu">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">{{ app.session.get('username') }} ({{ app.session.get('role') }})</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    {#<li class="user-header">
                                        <img src="{{asset('bundles/design/')}}images/logo.jpg" class="img-circle" alt="User Image" />
                                    </li>#}
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <!--<div class="pull-left">
                          <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>-->       <div class="pull-left">
                                            <a href="{{ path('admin_user_userinfo') }}/{{ app.session.get('user_id') }}" class="btn btn-default btn-flat">Account</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('admin_default_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    {% set ADMIN_ROLE_ID = 1 %}
                    {% set OTHER_ROLE_ID = 10 %}
                    {% set ORGANIZATION_ROLE_ID = 7 %}
                    {% set LEARNER_ROLE_ID = 2 %}
                    {% set TRAINER_ROLE_ID = 4 %}

                    <ul class="sidebar-menu">


                        <li class="treeview">
                            <a href="{{ path('admin_dashboard_index',{'domain': app.session.get('domain')}) }}">
                                <i class="fa fa-envelope"></i> <span>Dashboard</span>
                            </a>
                        </li>    
                        {% if app.session.get('role_id') == ADMIN_ROLE_ID or app.session.get('role_id') == OTHER_ROLE_ID or app.session.get('role_id') == ORGANIZATION_ROLE_ID %}
                            <li class="treeview">
                                <a href="javascript:void(0);">
                                    <i class="fas fa-users"></i> <span>Users</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li> <a href="{{ path('admin_user_index') }}"> <i class="fa fa-users"></i> <span>Learner</span></a></li>
                                    <li><a href="{{ path('admin_user_traniner') }}"> <i class="fa fa-user"></i> <span>Trainer</span></a></li>

                                </ul>
                            </li>

                        {% endif %}   


                        {% if app.session.get('role_id') == ADMIN_ROLE_ID or  app.session.get('role_id') == ORGANIZATION_ROLE_ID %}    
                            <li class="treeview">
                                <a href="javascript:void(0);">
                                    <i class="fa  fa-user-secret"></i> <span>Organization</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="{{ path('admin_user_organization',{'domain': app.session.get('domain')}) }}">
                                            <i class="fa fa-building"></i> <span>Organization User</span>
                                        </a>
                                    </li>
                                    <li> 
                                        <a href="{{path('admin_enroll_adduserenroll',{'domain_id':app.session.get('domain_id'),'userid':app.session.get('user_id')})}}">
                                            <i class="fa fa-tags"></i> <span>Registration Via Code</span>
                                        </a>
                                    </li>
                                      {% if app.session.get('role_id') == "5c261503d618fc0d0c174c1f" %}
                                    <li>
                                        <a href="{{path('admin_subscription_assignuser',{'domain_id':app.session.get('domain_id'),'userid':app.session.get('user_id')})}}">
                                            <i class="fa fa-code-fork"></i> <span>Assign Subscription</span>
                                        </a>
                                    </li> 
                                    {%endif%}

                                </ul>
                            </li>
                            {% if app.session.get('role_id') == 1  or app.session.get('role_id') == OTHER_ROLE_ID or app.session.get('role_id') == LEARNER_ROLE_ID or app.session.get('role_id') == ORGANIZATION_ROLE_ID  %}   
                                <li class="treeview">
                                    <a href="{{ path('admin_course_index',{'domain': app.session.get('domain')}) }}"> <i class="fa fa-graduation-cap"></i> <span>Course</span></a>
                                </li> 
                                <li class="treeview">
                                    <a href="{{ path('admin_course_viewadmin',{'domain': app.session.get('domain'),'course_id':0}) }}"> <i class="fa  fa-book"></i> <span>All Sessions</span></a>
                                </li> 
                            {% endif %}  
                           
                            {# PENDING <li class="treeview ">
                                <a href="{{ path('admin_category_index') }}"> <i class="fa fa-tasks"></i> <span>Category</span></a>
                            </li> #}
                            

                        {% endif %}  
                               					
                        {% if app.session.get('role_id') == ADMIN_ROLE_ID %} 
                           
                             {# PENDING <li class="treeview">
                                <a href="{{ path('admin_banner_index')}}">
                                    <i class="fa fa-flag"></i> <span>Banners</span>
                                </a>
                            </li> #}
                            <li class="treeview">
                                       <a href="{{ path('admin_classlevel_index')}}">
                                           <i class="fa fa-flag"></i> <span>Session Level</span>
                                       </a>
                            </li>
                            <li class="treeview">
                                <a href="{{ path('admin_schedule_index', {'domain': app.session.get('domain')})}}">
                                    <i class="fa fa-tasks"></i> <span>Schedule</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="{{path('admin_coupon_index')}}">
                                    <i class="fa fa-tags"></i> <span>Coupons</span>
                                </a>
                            </li> 
                            <li class="treeview">
                                <a href="{{ path('admin_subscription_index')}}">
                                    <i class="fa fa-briefcase"></i><span>Subscription</span>
                                </a>
                            </li>
                            {# PENDING <li class="treeview ">
                                <a href="{{ path('admin_wallet_addwallet') }}"> <i class="fa fa-wallet"></i> <span>Virtual Money</span></a>
                            </li> #}
                        {% endif %}
                        <li class="treeview">
                            <a href="{{ path('admin_aboutus_aboutus',{'domain': app.session.get('domain')})}}">
                                <i class="fa fa-bell"></i> <span>About Us</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="{{ path('admin_pushnotification_index')}}">
                                <i class="fa fa-bell"></i> <span>Push Notification</span>
                            </a>
                        </li>
                       

                        <li class="treeview">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-wrench"></i> <span>Settings</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('admin_settings_language') }}"><i class="fa fa-language"></i>Language</a></li>
                                </ul>
                            </li>

                    </ul>
                    </li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper" style="min-height: 916px;">

                <!--------------------- Main page contents loads here ------------------------------------>
            {% block content %}{% endblock %}
            <!---------------------------------------------------------------------------------------->

        </div>
        <footer class="main-footer">
            <div class="row">

                <div class=" col-md-2 pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <div class=" col-md-5  hidden-xs">
                    <strong>Copyright &copy; 2018-2019 <a href="{{ path('admin_dashboard_index', {'domain': app.session.get('domain')}) }}">My Academy</a>.</strong> All rights reserved.
                </div>

            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <script src="{{asset('bundles/design/')}}js/app.min.js" type="text/javascript"></script>

</body>

</html>

<script src="{{asset('bundles/design/')}}js/jquery.validate.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% block js %}{% endblock %}