{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %}Enrollments {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    <section class="content-header" >

        <h1>
            Add / Update Subscription 
        </h1>
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Subscription</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">	
                    <div class="box-header">
                        <h4>
                            <strong>Subscription</strong></h4>
                    </div>				
                    <div class="box-body">

                        <form id="manage_category" class="form" method="POST" onsubmit="return checkValidation();" enctype="multipart/form-data" action={% if subscription_master is defined and subscription_master is not empty %}"{{path('admin_subscription_save')}}/{{subscription_master.subscription_master_id}}" {%else%}"{{path('admin_subscription_save')}}"{% endif %} >
                            <input type="hidden" name="language_id" value="" />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 control-label">Subscription Name
                                    </div> 
                                    <div class="col-md-4"><input type="text" class="form-control" name="name" placeholder="Enter Name"{% if subscription_master is defined and subscription_master is not empty %} value ="{{subscription_master.extra}}"{% endif %}  required/></div> 
                                </div>
                            </div>	
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 control-label">Subscription Description
                                    </div> 
                                    <div class="col-md-4"><input type="text" class="form-control" name="sub_desc" placeholder="Enter Description"{% if subscription_master is defined and subscription_master is not empty %} value ="{{subscription_master.subscription_desc}}"{% endif %}  required/></div> 
                                </div>
                            </div>	
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 control-label">Price
                                    </div> 
                                    <div class="col-md-4"><input type="number" class="form-control" name="price" placeholder="Total Price"  {% if subscription_master is defined and subscription_master is not empty %} value ="{{subscription_master.price}}"{% endif %} required/></div> 
                                </div>
                            </div>	

                            <br>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="col-md-4 control-label">Start Date
                                    </div> 
                                    <div class="col-md-8"><input type="date" class="form-control" name="start" placeholder="Start date"
                                                                 {% if subscription_master is defined and subscription_master is not empty %} value ="{{subscription_master.start_date}}"{% endif %}  /></div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="col-md-4 control-label">End Date
                                    </div> 
                                    <div class="col-md-8"><input type="date" class="form-control" name="end" placeholder="End Date" {% if subscription_master is defined and subscription_master is not empty %} value ="{{subscription_master.end_date}}"{% endif %} /></div>
                                </div> 

                            </div>	
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">Subscription Logo</div> 
                                    <div class="col-md-4">
                                        <input type="file" name="s_logo" id="s_logo" {% if subscription_master is defined and subscription_master is not empty %}{%else%}{%endif%} />
                                    </div> 
                                </div>													 
                            </div>

                            <br>
                            <div class="form-group " id="userbox">
                                <label class="col-sm-2 control-label">Select Course</label>
                                <div class="col-md-10">

                                    <div class="box box-success box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Course list</h3>
                                            <input type="checkbox" id="checkAll" class="checkbox pull-right">
                                        </div>
                                        <div class="box-body">
                                            <div class="col-md-12" style="margin-bottom:10px;padding-bottom: 11px;    border-bottom: 1px solid #ccc;">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8 col-sm-12">

                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div id="userlistbox">
                                                {%if  coursemaster is defined and coursemaster is not empty %}
                                                    {% for coursemaster in coursemaster %}
                                                        <div class="col-xs-3">

                                                            <input type="checkbox" name="course[]" class="checkBoxClass" value="{{coursemaster.main_coursemaster_id}}"
                                                                   {% if subscription_master is defined and subscription_master is not empty %}
                                                                       {% for courseid in subscription_master.course_id if courseid == coursemaster.main_coursemaster_id  %} 
                                                                           checked
                                                                       {% endfor %}
                                                                   {% endif %}>{{coursemaster.course_name}}

                                                        </div> 
                                                    {%endfor%}                                                        
                                                {%endif%}    

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								 


                            <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>

                            <a href="{{path('admin_course_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>



                        </form>
                    </div>


                    <br><br>

                </div> 

            </div>
        </div>
    </div>

</div>
</section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

    {#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}

    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

    <script language="Javascript" type="text/javascript">
       
    </script>
  <script>
       
        function checkValidation(){
            //alert("SDfsdf");return false;
            if($('#manage_category input:checked').length <= 0 ){
                alert("Please Select At least One Course");
                return false
            }
            return true ;
        }

 </script>



{% endblock %}