{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Subscription {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Assign Subscription
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Subscription</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
				<div class="col-md-12">
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
						<div role="alert" class="alert alert-success alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
						<div role="alert" class="alert alert-danger alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
						</div>
				{% endfor %}
				</div>
			</div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <form id="assignuser" class="form" method="POST" enctype="multipart/form-data" action="{{path('admin_subscription_saveassigsubscriptionnuser')}}" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2"><label class="form-label" >Subscription</label></div> 
                                    <div class="col-md-2">
                                        <select class="form-control" name="subscription" required>
                                            <option value="">Select</option>
                                            {%if subscription_master is defined and subscription_master is not empty %}
                                                {%for subscription_master in subscription_master %}
                                                    <option value="{{subscription_master.id}}">{{subscription_master.extra}}</option>
                                                {%endfor%}
                                            {%endif%}
                                          
                                        </select>
                                    </div> 
                                            <div class="col-md-2"><label class="form-label"  >Amount</label></div> 
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" name="amount" placeholder="" required />
                                    </div> 									 
                                    <div class="col-md-2"><label class="form-label" >Payment</div> 
                                    <div class="col-md-2">
                                        <div class="radio-inline"><input type="radio" name="payment" value="cash" required>Cash</div>
                                        <div class="radio-inline"><input type="radio" name="payment" value="online" required>Online</div>
                                    </div> 									 
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2"><label class="form-label" >Learners</label></div> 
                                    <div class="col-md-10">
                                        {%if learners is defined and learners is not empty %}
                                            {%for learners in learners %}
                                                <div class="checkbox-inline"><input  type="checkbox" name="user[]" value="{{learners.user_id}}">{{learners.mobile_no}}</div>
                                                {%endfor%}
                                            {%endif%}
                                    </div> 

                                </div>	
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">   
                                    <div class="col-md-2">
                                        <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>

                                        <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
                                    </div>    
                                </div>	
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });</script>
{% endblock %}