{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Subscription {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Subscription
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Subscription</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Subscription LIST</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_subscription_addsubscription')}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead >
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Name</th>

                                <th>No of Course</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Users</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {% if subscription_master is defined and subscription_master is not empty %}
                                        {% for subscription_master in subscription_master %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td hidden>{{ subscription_master.subscription_master_id }}</td>
                                                <td>{{ subscription_master.extra }}</td>

                                                <td>{{ subscription_master.no_of_courses }}</td>
                                                <td>{{ subscription_master.price }}</td>
                                                <td>{{ subscription_master.start_date|date("d/m/Y")}}</td>
                                                <td>{{ subscription_master.end_date|date("d/m/Y")}}</td>
                                                <td> <a href="{{path('admin_subscription_viewsubscribeduser' )}}/{{ subscription_master.subscription_master_id }}" class="btn-xs btn-warning btn"><i class="fa fa-eye "></i></a></td>
                                                <td>
                                                    <a href="{{path('admin_subscription_addsubscription' )}}/{{ subscription_master.subscription_master_id }}" class="btn-info btn-xs btn"><i class="fa fa-edit"></i></a>
                                                    <a href="{{path('admin_subscription_deletesub' )}}/{{ subscription_master.subscription_master_id }}" class="btn-xs btn-danger btn"><i class="fa fa-close "></i></a>
                                                   
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <thead>
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Name</th>

                                <th>No of Course</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                 <th>Users</th>
                                <th>Action</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });</script>
{% endblock %}