{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Subscription {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
           
            Subscription List of  : {{user_info.user_mobile}} {%if user_info.user_first_name is not empty %} [ {{user_info.user_first_name}} {{ user_info.user_last_name}} ] {%endif%}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}">Dashboard</a>                
            </li>
            <li><a href="{{path('admin_user_index',{'domain':app.session.get('domain')})}}">Learners</a></li>
            <li class="active">
                <a href="#">Subscription List of User</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                   

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead >
                                <th>No</th>
                                 <th>Name</th>
                                 <th>Payment type</th>
                                 <th>Payment status</th>
                                 <th>Transaction ID</th>

                                </thead>
                                <tbody>
                                    {% if subscription_master is defined and subscription_master is not empty %}
                                        {% for subscription_master in subscription_master %}
                                            
                                            <tr {%if subscription_master.payment_status == 'Pending' %} class="danger" {%endif%}>
                                                <td>{{loop.index}}</td>
                                                <td>{{ subscription_master.package_name }}</td>
                                                <td>{{ subscription_master.payment_type  }}</td>
                                                <td>{{ subscription_master.payment_status }}</td>
                                                <td>{{ subscription_master.payment_id}}</td>
                                             
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <thead>
                                <th>No</th>
                                 <th>Name</th>
                                 <th>Payment type</th>
                                 <th>Payment status</th>
                                 <th>Transaction ID</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });</script>
{% endblock %}