{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %}Enrollments {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    {% endblock %}
    {% block content %}

    <section class="content-header" >

        <h1>
            Enrollments
        </h1>
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            {%if userName is defined and userName is not empty and userName != '' %} <li><a href="{{path('admin_user_organization',{'domain':app.session.get('domain')})}}">Organization</a></li>{%endif%}
            <li class="active">Enrollments</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">	
                    <div class="box-header">
                        <h4>
                            <strong>Generate Enrollments {{userName}}</strong></h4>
                    </div>				
                    <div class="box-body">

                        <form id="manage_category" class="form" method="POST" enctype="multipart/form-data" action="{{path('admin_enroll_saveuserenroll')}}" >
                            <input type="hidden" name="language_id" value="" />
                            <input type="hidden" name="userid" value="{{userid}}" />


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">Total Enrollments</div> 
                                    <div class="col-md-2"><input type="number" class="form-control" name="enroll" placeholder="Total Enrollments"  required/></div> 
                                    <div class="col-md-2">Coupon Code</div> 
                                    <div class="col-md-2"><input type="text" class="form-control" name="coupan_code" placeholder=""  /></div> 									 






                                    <div class="col-md-4">


                                        <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>

                                        <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
                                    </div>
                                </div>	
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
           <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">	
                    <div class="box-header">
                        <h4>
                            <strong> Enrollments List {{userName}}</strong></h4>
                    </div>				
                    <div class="box-body">                         

                   
                    <div class="container-fluid table-responsive">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <th>No</th>
                            <th>Enrolled Code</th>
                            <th>Status</th>
                            <!-- <th>Description</th>-->
                            <th>Coupon Code</th>
                            <th>Mobile No</th>
                            <th>Created Time</th>
                            <!--  <th>Tags</th>-->
                            <th>Action</th>
                            </thead>
                            <tbody>
                                {% if enrolled is defined and enrolled is not empty %}
                                    {% for enrolled in enrolled %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{enrolled.enroll.enrollmentCode}}</td>
                                            <td>	
                                                {% set color ='btn-info' %} 
                                                {% set txt = 'Assigned' %}
                                                {% if  enrolled.enroll.enrollmentStatus == "pending"
                                                %}
                                                {% set color ='btn-warning' %}
                                                {% endif %}
                                                    {% set status = enrolled.enroll.enrollmentStatus %}
                                                    {% if  enrolled.status is defined and enrolled.status is not empty and enrolled.status == "Coupon Expired" %}
                                                        {% set color ='btn-danger' %}
                                                        {% set status = enrolled.status %}

                                                    {% endif %}
                                                    <button class="btn btn-sm {{color}}  " id="enroll" >{{status}}</button>

                                                </td>
                                                <td>{{enrolled.enroll.extra1}}</td>
                                                <td>{% if enrolled.usermaster is defined and enrolled.usermaster is not empty %}
                                                    {{enrolled.usermaster.userMobile}}
                                                    {% endif %}</td>
                                                    <td>{{enrolled.enroll.createdDatetime}}</td>
                                                    <td>{% if  enrolled.status is defined and enrolled.status is not empty and enrolled.status == "Coupon Expired" %}
                                                        No Action
                                                        {% else %}
                                                            <a href="{{path('admin_enroll_assignuser',{userid:userid,enroll_id:enrolled.enroll.id} )}}"><i class="fa fa-edit"></i></a>
                                                            {% endif %}</td>
                                                        </tr>	
                                                        {% endfor %}
                                                            {% endif %}
                                                            </tbody>
                                                            <tfoot>
                                                            <th>No</th>
                                                            <th>Enrolled Code</th>
                                                            <th>Status</th>
                                                            <!-- <th>Description</th>-->
                                                            <th>Mobile NO</th>
                                                            <th>Created Time</th>
                                                            <!--  <th>Tags</th>-->
                                                            <th>Action</th>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div> 

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>

                            {% endblock %}

                                {% block js %}
                                    <script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

                                    {#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}

                                    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

                                    <script language="Javascript" type="text/javascript">
    function enroll1(course_id, flag) {
        //{#var user_id = '{{user_id}}';#}
        $.ajax({
            url: "{{path('admin_user_enroll',{'domain':app.session.get('domain')})}}",
            data: {course_id: course_id, user_id: user_id},
            cache: false,
            success: function (html) {
                if (html == 0) {
                    $("#enroll_" + course_id).addClass('btn-info').removeClass('btn-warning');
                    $("#enroll_" + course_id).html("Enroll")
                }
                if (html == 1) {
                    $("#enroll_" + course_id).addClass('btn-warning').removeClass('btn-info');
                    $("#enroll_" + course_id).html("Unenroll")
                }
            }
        });
    }
                                    </script>

                                    <script>
                                        $(document).ready(function () {
                                            $('#example1').DataTable();

                                            $('#manage_category').bootstrapValidator({
                                                fields: {
                                                    category_name: {
                                                        validators: {
                                                            notEmpty: {
                                                                message: '* Category Name is required and cannot be empty'
                                                            }
                                                        }
                                                    },
                                        {% if parent_category is not defined %}
                                                                                     category_logo: {
                                                                                         validators: {
                                                                                             notEmpty: {
                                                                                                 message: 'The Category logo is required and cannot be empty'
                                                                                             }
                                                                                         }
                                                                                     },
                                        {% endif %}
                                                                                  }
                                                                              });

                                                                          });

                                                                          $(function () {
                                                                              $('.editor1cls').each(function (e) {
                                                                                  CKEDITOR.replace(this.id);
                                                                              });
                                                                          });
                                    </script>

                                    <script type="text/javascript">

                                    </script>
                                {% endblock %}