{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %}Enrollments {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	  
	<section class="content-header" >
		
      <h1>
            Enrollments
		</h1>
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Enrollments</li>
		</ol>
	  </section>
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
		<div class="alert alert-success alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
		<div class="alert alert-danger alert-dismissable">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
		</div>
		{% endfor %}
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">	
				<div class="box-header">
					<h4>
					<strong>Assigned Enrollments</strong></h4>
				</div>				
					<div class="box-body">

										  <form id="manage_category" class="form" method="POST" enctype="multipart/form-data" action="{{path('admin_enroll_saveassignuser')}}" >
												<input type="hidden" name="language_id" value="" />
												<input type="hidden" name="enroll_id" value="{{enrolled.id}}" />
												<input type="hidden" name="userid" value="{{userid}}" />
												<div class="row">
													<div class="col-md-12">
															<div class="col-md-2">Enrollments code</div> 
															<div class="col-md-4"><input type="text" class="form-control"   disabled="disabled"  value="{{enrolled.enrollmentCode}}"/></div> 
													</div>	
												</div>		
												<br>								 
												<div class="row">
													<div class="col-md-12">
															<div class="col-md-2">Mobile</div> 
															<div class="col-md-4"><input type="text" name="mobile" placeholder="Example +9194xxxxxx" class="form-control"  {% if usermaster is defined and usermaster is not empty %}  value="{{usermaster.userMobile}}"{% endif %}/></div> 

													</div>	
												
												</div>		 	
												<button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
															  
												<a href="{{path('admin_enroll_adduserenroll',{'userid':userid})}}"  class="btn btn-default form-btn">Cancel</a>
																  </div>
																  	 
													
											</form>
										 </div>

										
											<br><br>
											
						
										</div> 
								
						</div>
					</div>
				</div>
			
		</div>
	</section>

{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

{#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}
 
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
 
<script language="Javascript" type="text/javascript">
	function enroll1(course_id,flag){
		//{#var user_id = '{{user_id}}';#}
		$.ajax({
  			url: "{{path('admin_user_enroll',{'domain':app.session.get('domain')})}}",
  			data: {course_id : course_id,user_id : user_id},
  			cache: false,
  			success: function(html){
    			if(html == 0){
    				$("#enroll_"+course_id).addClass('btn-info').removeClass('btn-warning');
    				$("#enroll_"+course_id).html("Enroll")
    			}
    			if(html == 1){
    				$("#enroll_"+course_id).addClass('btn-warning').removeClass('btn-info');
    				$("#enroll_"+course_id).html("Unenroll")
    			}
  			}
		});
	}
</script>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
	
	$('#manage_category').bootstrapValidator({
			fields: {
				category_name: {
					validators: {
						notEmpty: {
							message: '* Category Name is required and cannot be empty'
						 }
					 }
				 },
				 {% if parent_category is not defined %}
				  category_logo: {
					  validators: {
						  notEmpty: {
							  message: 'The Category logo is required and cannot be empty'
						  }
					  }
				  },
				  {% endif %}
			 }
		 });
	  
} );

	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	});
</script>

<script type="text/javascript">
	
</script>
{% endblock %}