{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} User {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            User
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">User</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>USER LIST</b></h3>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead >
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Email</th>

                                <th>Profile name</th>
                                <th>mobile no</th>
                                <th>Date and time</th>
                                <th>Register From</th>
                                <th>info</th>
                                <th>Subscription</th>
                                </thead>
                                <tbody>
                                    {% if usermaster is defined and usermaster is not empty %}
                                        {% for usermaster in usermaster %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td hidden>{{ usermaster.user_id }}</td>
                                                <td>{{ usermaster.email }}</td>

                                                <td>{{ usermaster.firstname }}</td>
                                                <td>{{ usermaster.mobile_no }}</td>
                                               
                                                <td>{{ usermaster.create_date|date("d/m/Y")}}</td>
                                                 <td>{{ usermaster.register_from }}</td>
                                                <td><a href="{{path('admin_user_userinfo' )}}/{{ usermaster.user_id }}"><i class="fa fa-eye"></i></a></td>
                                                <td><a href="{{path('admin_subscription_subscriptionuserinfo' )}}/{{ usermaster.user_id }}"><i class="fa fa-code-fork"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <thead>
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Email</th>

                                <th>Profile name</th>
                                <th>mobile no</th>
                                <th>Date and time</th>
                                <th>Register From</th>
                                <th>info</th>
                                <th>Subscription</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });</script>
{% endblock %}