{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Organization {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Organization
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Organization</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">

                    <!-- box header -->
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Organization LIST</b></h3>
                        <div class="pull-right">

                            <a href="{{path('admin_user_organizationinfo')}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                        </div>
                    </div>

                    <!-- box body -->
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
                            <table id="example" class="table table-bordered table-striped text-center">
                                <thead >
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Email</th>

                                <th>First name</th>
                                <th>Last name</th>
                                    {#<th>Approval</th>#}
                                <th>Register Date</th>

                                <th>Operation</th>
                                </thead>
                                <tbody>
                                    {% if usermaster is defined and usermaster is not empty %}
                                        {% for usermaster in usermaster %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td hidden>{{ usermaster.user_id }}</td>
                                                <td>{{ usermaster.email }}</td>

                                                <td>{{ usermaster.firstname }}</td>
                                                <td>{{ usermaster.lastname }}</td>
                                                {#<td class="approval_{{usermaster.user_id}}">
        {% if usermaster.approvalstatus == "0" %}
        <button class="btn btn-info btn-xs text-dark"  onclick="approval('{{usermaster.user_id}}','1')">Approve</button> <button  class="btn btn-danger text-dark btn-xs"   onclick="approval({{usermaster.user_id}},'-1')">Reject</button>
{% else %}
        <button class="btn btn-success btn-xs text-dark"> Accepted</button>
        {% endif %}
</td>#}
                                                <td>{{ usermaster.create_date|date("d/m/Y")}}</td>

                                                <td><a target="_blank" class="btn btn-info btn-xs" href="{{path('admin_user_userinfo')}}/{{ usermaster.user_id }}"><i class="fa fa-eye"></i></a>
                                                    <a  class="btn btn-success btn-xs" href="{{path('admin_enroll_adduserenroll',{userid:usermaster.user_id})}}"><i class="fa fa-tasks"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <thead>
                                <th>No</th>
                                <th hidden>user_id</th>
                                <th>Email</th>

                                <th>First name</th>
                                <th>Last name</th>
                                    {#<th>Approval</th>#}
                                <th>Register Date</th>

                                <th>Operation</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
        function approval(course_id, flag) {
            $.ajax({
                url: "{{path('admin_user_approve',{'domain':app.session.get('domain')})}}",
                data: {course_id: course_id, flag: flag},
                cache: false,
                success: function (html) {

                    if (html == 1) {
                        $(".approval_" + course_id).html('<button class="btn btn-success btn-xs text-dark"> Accepted</button>');
                    }
                    if (html == 0) {
                        location.reload(true);
                    }
                }
            });
        }
    </script>
{% endblock %}