{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Traniner info {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}validation/datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    <section class="content-header" >

        <h1>
            Traniner info 
        </h1>
        <small></small>

        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Traniner</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">					
                    <div class="box-body">
                        <div class="nav-tab-custom">
                            <ul class="nav nav-tabs">

                                <li class="active">
                                    <a href="#tab_info" data-toggle="tab">Info</a>
                                </li>
                                {# {% if usermaster is defined and usermaster is not empty %}
                                    {% if usermaster[0].role_id == TRAINER_ROLE_ID %}
                                        <li class="">
                                            <a href="#tab_course" data-toggle="tab">Course Assign</a>
                                        </li>
                                    {% endif %}
                                {% endif %} #}

                            </ul>

                        </div>
                        <div class="tab-content">							
                            {% set 	user_master_id = 0 %}
                            {% if usermaster is defined and usermaster is not empty %}
                                {% for usermaster in usermaster %}
                                    {% set 	user_master_id = usermaster.user_master_id %}
                                {%endfor%}
                            {%endif%}
                            {% set flag1 = 'false' %}
                            {% set flag = 'false' %}

                            <div class="tab-pane fadein active" id="tab_info">

                                <form id="manage_category" class="form" method="POST" enctype="multipart/form-data"  {% if usermaster is defined and usermaster is not empty %}{% set flag1 = 'false' %}{% for usermaster in usermaster %}{% set flag1 = 'true' %}action="{{path('admin_user_updateuser')}}/{{usermaster.user_master_id}}" {%endfor%}{%else%}action="{{path('admin_user_saveuser',{'domain':app.session.get('domain')})}}"{%endif%} {%if flag1 == 'false' %}  action="{{path('admin_user_saveuser',{'domain':app.session.get('domain')})}}" {%endif%}
                                      {% if usermaster is defined and usermaster is not empty %} {%else%} {%endif%} >
                                    <input type="hidden" name="language_id" value="" />
                                    <input type="hidden" name="user_master_id" value="{{user_master_id}}" />
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2"> User Type</div> 
                                            <div class="col-md-10">
                                                <select class="form-control select" name="user_type" required >
                                                    <option value="0">Select  User Type</option>
                                                    {% for role_master in role_master %}
                                                        <option value="{{role_master.role_id}}" {% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster if usermaster.role_id == role_master.role_id %}selected{%endfor%}{%endif%} {%if role_master.role_id == '5c136f3ab1e16e1f30a5d1dd' %} {%else%} readonly {%endif%}>{{role_master.role_name}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div> 
                                        </div>													 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">First name</div> 
                                            <div class="col-md-10"><input type="text" class="form-control" name="first_name" placeholder="Enter Trainer Name " value="{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster %}{{usermaster.firstname}}{%endfor%}{%endif%}" required/></div> 
                                        </div>													 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">Last name</div> 
                                            <div class="col-md-10"><input type="text" class="form-control" name="last_name" placeholder="Enter Trainer Name " value="{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster %}{{usermaster.lastname}}{%endfor%}{%endif%}" required/></div> 
                                        </div>													 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">Email</div> 
                                            <div class="col-md-10"><input type="text" class="form-control" name="email" placeholder="Enter email" value="{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster %}{{usermaster.email}}{%endfor%}{%endif%}" required/></div> 
                                        </div>													 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">Password</div> 
                                            <div class="col-md-10"><input type="password" class="form-control" name="password" /></div> 
                                        </div>													 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">User Profile</div> 
                                            <div class="col-md-10"><input type="file" class="form-control" name="image" /></div> 
                                        </div>													 
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">User Bio</div> 
                                            <div class="col-md-10">
                                                <textarea name="user_bio" id="editor1" class="ckeditor" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster %}{{usermaster.user_bio}}{% endfor %}{% endif %}</textarea>
                                            </div> 
                                        </div>													 
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">Achievements</div> 
                                            <div class="col-md-10">
                                                <textarea name="achievements" id="editor1" class="ckeditor" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster %}{{usermaster.achievements}}{% endfor %}{% endif %}</textarea>
                                            </div> 
                                        </div>													 
                                    </div>
                                    <br>

                                    <div class="row hide">
                                        <div class="col-md-12">
                                            <div class="col-md-2">Status</div> 
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio" value="Active" {% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster  if usermaster.status == 'Active'%}checked{%endfor%}{%endif%}>Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio" value="Inactive"{% if usermaster is defined and usermaster is not empty %}{% for usermaster in usermaster  if usermaster.status != 'Active'%}checked{%endfor%}{%endif%}>Inactive
                                            </label>

                                        </div>											 
                                    </div>							
                                    <br><br>		 



                                    <div class="form-group">
                                        <div class="col-sm-10 pull-left">
                                            {% if usermaster is defined and usermaster is not empty %}
                                                {% set flag = 'false' %}
                                                {% for usermaster in usermaster %}

                                                    {% set flag = 'true' %}
                                                    <button name="save" type="submit"  class="btn btn-primary" value="">Update</button>

                                                {%endfor%}

                                            {% endif %}
                                            {%if flag == 'false' %}
                                                <button name="save" type="submit" class="btn btn-primary" value="save_category">Save</button>
                                            {% endif %}
                                            <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"  class="btn btn-default form-btn">Cancel</a>
                                        </div>
                                    </div><br><br>
                                    <div class="row">
                                      
                                        {% if usermaster is defined and usermaster is not empty %}
                                           {% for usermaster in usermaster %}
                                            {%set wallet = usermaster.wallet_details %}

{%if wallet is defined and wallet is not empty %}
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-yellow"><i class="ion ion-bag"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-number">Wallet Details</span>
                                                        <span class="info-box-text">{% if usermaster is defined and usermaster is not empty %} Of {{usermaster.firstname}}  {{usermaster.lastname}}{%endif%}</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-aqua"><i class="ion ion-cash"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Money</span>
                                                        <span class="info-box-number">{{wallet.virtual_money}}<small>Rs</small></span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-red"><i class="ion-merge"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Loyalty Points</span>
                                                        <span class="info-box-number">{{wallet.wallet_points}}</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->

                                            <!-- fix for small devices only -->
                                            <div class="clearfix visible-sm-block"></div>

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-green"><i class="ion-arrow-return-left"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Cashback</span>
                                                        <span class="info-box-number">{{wallet.cashback}}</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                                    {%endif%}
                                                    {%endfor%}
                                        {%endif%}
                                    </div>
                                </form>

                            </div>

                            <div class="tab-pane fade" id="tab_course">
                                <br><br>
                                <div class="container-fluid table-responsive">
                                    <table id="example1" class="table table-bordered table-striped text-center">
                                        <thead>
                                        <th hidden>Mian Course ID</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <!-- <th>Description</th>-->
                                        <th>Category</th>
                                        <!--  <th>Tags</th>-->
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                            {% if all_course is defined and all_course is not empty %}
                                                {% for all_course in all_course %}
                                                    <tr>
                                                        <td hidden>{{all_course.main_coursemaster_id}}</td>
                                                        <td>{% if all_course.course_image is defined and all_course.course_image is not empty %}<img src="{{render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': all_course.course_image,'live_path':live_path}))}}" style="height:30;width:30px;">{% endif %}</td>
                                                            {% if all_course.lang_wise_course is defined and all_course.lang_wise_course is not empty %}
                                                            <td>{{all_course.course_name}}</td>

                                                        {%endif%}
                                                        <td>{{all_course.category_name}}</td>
                                                        <td>	
                                                            {% set color ='btn-info' %} 
                                                            {% set txt = 'Enroll' %}
                                                            {% if  all_course.enroll == "Unenroll"
                                                            %}
                                                            {% set color ='btn-warning' %}
                                                            {% endif %}


                                                                <button class="btn btn-sm {{color}}  " id="enroll_{{all_course.main_coursemaster_id}}" onclick="enroll1('{{all_course.main_coursemaster_id}}');">{{all_course.enroll}}</button>

                                                            </td>
                                                        </tr>	
                                                        {% endfor %}
                                                            {% endif %}
                                                            </tbody>
                                                            <tfoot>
                                                            <th hidden>Mian Category ID</th>
                                                            <th>Image</th>
                                                            <th>Name</th>
                                                            <!-- <th>Description</th>-->
                                                            <th>Category</th>
                                                            <!-- <th>Tags</th>-->
                                                            <th>Action</th>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div> 

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        {% endblock %}

                            {% block js %}
                                <script src="{{asset('bundles/design/')}}js/bootstrapValidator.min.js" type="text/javascript"></script>

                                {#<script language="Javascript" src="{{asset('bundles/design/')}}tinymce/tinymce.min.js" type="text/javascript"></script>#}

                                <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

                                <script language="Javascript" type="text/javascript">
                                                                    function enroll1(course_id, flag) {
                                    {% if user_id is defined %}
                                                var user_id = '{{user_id}}';
                                    {% endif %}
                                            $.ajax({
                                                url: "{{path('admin_user_enroll',{'domain':app.session.get('domain')})}}",
                                                data: {course_id: course_id, user_id: user_id},
                                                cache: false,
                                                success: function (html) {
                                                    if (html == 0) {
                                                        $("#enroll_" + course_id).addClass('btn-info').removeClass('btn-warning');
                                                        $("#enroll_" + course_id).html("Enroll")
                                                    }
                                                    if (html == 1) {
                                                        $("#enroll_" + course_id).addClass('btn-warning').removeClass('btn-info');
                                                        $("#enroll_" + course_id).html("Unenroll")
                                                    }
                                                }
                                            });
                                        }
                                </script>

                                <script>
                                    $(document).ready(function () {
                                        $('#example1').DataTable();

                                        $('#manage_category').bootstrapValidator({
                                            fields: {
                                                category_name: {
                                                    validators: {
                                                        notEmpty: {
                                                            message: '* Category Name is required and cannot be empty'
                                                        }
                                                    }
                                                },
                                    {% if parent_category is not defined %}
                                                    category_logo: {
                                                        validators: {
                                                            notEmpty: {
                                                                message: 'The Category logo is required and cannot be empty'
                                                            }
                                                        }
                                                    },
                                    {% endif %}
                                                }
                                            });

                                        });

                                        $(function () {
                                            $('.editor1cls').each(function (e) {
                                                CKEDITOR.replace(this.id);
                                            });
                                        });
                                </script>

                                <script type="text/javascript">

                                </script>
                            {% endblock %}