{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} User quiz report {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <section class="content-header">
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <h1>
                User Report
              <small></small>
            </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-User"></i>User</a>
            </li>
            <li class="active">
                <a href="#"> User Report</a>
            </li>
            
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>User Report</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img src="http://icons.iconarchive.com/icons/saviourmachine/chat/256/default-red-icon.png" alt="image" class="img-fluid img-thumbnail">
                                <span><strong></strong></span>
                            </div>
                            <div class="col-md-2"><strong><h4>{{user.user_first_name}}</h4></strong></div>
                            <div class=" col-md-3 col-md-offset-3 bg-success ">
                                <h4>Session:{{session}}</h4>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
<div class="row hide"> 
{% for data in  data %}      
    <div class="col-md-12">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
         Session Id : <strong>{{data.session}}</strong>

          <a data-toggle="collapse" class=" btn btn-default ic{{loop.index}} btn-box-tool pull-right" data-parent="#accordion" style="margin-top: -7px;" href="#collapse{{loop.index}}">
            <i id ="ic{{loop.index}}" class="fa fa-minus"></i> </a>
            <div  class=" pull-right"  style="">Session Profile : <strong>{{data.profile_name}} &nbsp;&nbsp;&nbsp;</strong></div> 
      </h4>

    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse in">
        <div class="row">
            <div class="col-md-12 center" style="
    padding-top: 2%;">

              <table id="example{{loop.index}}" class=" table table-bordered table-striped text-center">
                                        <thead >
                                           
                                            <th>NO</th>
                                            <th>Question</th>
                                           {# <th> Image</th>#}
                                            <th>Answer</th>
                                            <th>Answer image</th>
                                            <th>Profile name</th>
                                            
                                            
                                        </thead>
                                        <tbody>

                                            {% for quiz in data.quiz %}
                                            <tr>    
                                                <td>{{loop.index}}</td>
                                                <td class="col-md-4">{{quiz.question_name}}</td>
                                              
                                              {#  <td><img src="{{quiz.question_image}}" alt="image" class="img-fluid img-thumbnail col-md-12"></td>#}
                                                <td><ol>{% for option in quiz.option %}<li>{{option.option_name}}</li>{%endfor%}</ol></td>
                                                <td>{% for option in quiz.option %}
                                                    {% if option.option_image is not empty %}
                                                    <img src="{{option.option_image}}" alt="image" class="img-fluid img-thumbnail col-md-4">{% endif%}{% endfor %}</td>
                                                    
                                                <td><ol>{% for option in quiz.option %}<li>{{option.option_profile}}</li>{%endfor%}</ol></td>

                                            </tr>
                                            {% endfor %}
                                        
                                        </tbody>
                                        <thead>
                                            <th>NO</th>
                                            <th>Question</th>
                                           {# <th> Image</th>#}
                                            <th>Answer</th>
                                            <th>Answer image</th>
                                            <th>Profile name</th>
                                        </thead>
                                    </table>
            </div>
            </div>                        
    </div>
  </div>
  </div> 
</div>
 <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready( function () {
    $('#example{{loop.index}}').DataTable();

    $('.ic{{loop.index}}').click(function () {
        if($("#ic{{loop.index}}").hasClass("fa fa-minus")){

            $("#ic{{loop.index}}")
                   .removeClass("fa fa-minus").addClass("fa fa-plus");

                   console.log("asafas");
        }
        else{
            $("#ic{{loop.index}}")
                   .removeClass("fa fa-plus").addClass("fa fa-minus");

                   console.log("asafas");
        }       
    });

} );</script>
{% endfor %}
</div>
    </section>
{% endblock %}

{% block js %}
   
{% endblock %}