{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Coupon List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
            Coupon List
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Coupon List</li>
		</ol>
	  </section>
	  <section class="content">
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
					{% for flashMessage in app.session.flashbag.get('success_msg') %}
							<div role="alert" class="alert alert-success alert-dismissible fade in">
							  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
							  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
						</div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('error_msg') %}
							<div role="alert" class="alert alert-danger alert-dismissible fade in">
							  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
							  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
							</div>
					{% endfor %}
                    <div class="box-header with-border">
                      {#<h3 class="box-title">Progress Bars Different Sizes</h3>#}
                      <div class="pull-right">
                        <a href="{{path('admin_coupon_addcoupon',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                      </div>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
							<table id="example1" class="table table-bordered table-striped text-center">
								<thead>
									<th>No.</th>
									<th>Coupon name</th>
                                    <th>Coupon Code</th>
                                     <th>Return type</th>
									<th>Status</th>
									<th>Coupon Visibility</th>
                                    <th>Action</th>
								</thead>
								<tbody>
								{% if coupon_master is defined and coupon_master is not empty %}

									{% for coupon in coupon_master %}
										<tr>
											<td>{{loop.index}}</td>
											<td>{{coupon.coupon_name}}</td>
											<td>{{coupon.coupon_code}}</td>
											<td>{{coupon.return_type}}</td>
											<td>
												<input type="checkbox" data-on="Active" data-off="Inactive" data-toggle="toggle" data-onstyle="success" {% if coupon.coupon_status == 'active' %}checked="checked"{% endif %} data-size="mini" onchange="changestatus('{{coupon.id}}',$(this).is(':checked'));"/>
											</td>
											<td>
												<input type="checkbox" name="visible_all" id="visible_all"  {% if coupon.visible_all == 'yes' %}checked{% endif %}  onchange="changevisible('{{coupon.id}}',$(this).is(':checked'));"/>
											</td>
											<td>
												 <a class="btn btn-warning btn-xs btn-flat" data-toggle="tooltip" title="" href="{{path('admin_coupon_applycoupon',{'domain':app.session.get('domain'),'coupon_master_id':coupon.id})}}" data-original-title="Apply Coupon"><span class="fa fa-tags"></span></a>

													 <a class="btn btn-default btn-xs btn-flat" data-toggle="tooltip" title="" onclick="return confirm('Are you sure you want to Edit?');" href="{{path('admin_coupon_addcoupon',{'domain':app.session.get('domain'),'coupon_master_id':coupon.id})}}" data-original-title="Edit"><span class="fa fa-edit"></span></a>
													 <a class="btn btn-danger btn-xs btn-flat" data-toggle="tooltip" title="" onclick="return confirm('Are you sure you want to Delete?');" href="{{path('admin_coupon_deletecoupon',{'domain':app.session.get('domain'),'coupon_master_id':coupon.id})}}" data-original-title="Delete"><span class="fa fa-remove"></span></a>

													{#<a href="{{path('admin_servicearea_couponcity',{'domain':app.session.get('domain'),'coupon_master_id':coupon.id})}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Coupon availabity"><span class="fa fa-map-marker"></span></a>#}
											</td>
										</tr>
									{% endfor %}
								{% endif %}
								</tbody>
								<tfoot>
									<th>No.</th>
									<th>Coupon name</th>
                                    <th>Coupon Code</th>
                                        <th>Return type</th>
									<th>Status</th>
									<th>Coupon Visibility</th>
                                    <th>Action</th>								</tfoot>
							</table>
						</div>

                    </div>
                  </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
	<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
	<script>
		function changestatus(id,status) {
			$.post("{{path('admin_coupon_couponstatus',{'domain':app.session.get('domain')})}}",{id:id,status:status});
		}
		function changevisible(id,visible) {
			$.post("{{path('admin_coupon_couponvisible',{'domain':app.session.get('domain')})}}",{id:id,visible:visible});
		}

	</script>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>
{% endblock %}
