{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Settings {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
				Settings
			  <small></small>
			</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('admin_dashboard_index') }}"><i class="fa fa-dashboard"></i>Dashboard</a>
			</li>
			<li>
				<a href="#">Settings</a>
			</li>
			<li class="active">
				Language
			</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<!-- flash message -->
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">

				</div>
			</div>
		</div>

	</section>
{% endblock %}

{% block js %}
{% endblock %}