{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} Userrole {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
			</li>
			<li>
				<a href="#">Settings</a>
			</li>
			<li class="active">
				<a href="#">Language List</a>
			</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<!-- flash message -->
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-solid">
					
					<!-- box header -->
					<div class="box-header with-border">
						<h3 class="box-title"><b>Language List</b></h3>
                    </div>
				
					<!-- box body -->
					<div class="box-body">
						<div class="container-fluid table-responsive">
							<table id="userroles" class="table table-bordered table-striped text-center">
								<thead>
									<th hidden>Id</th>
									<th>Language</th>
									<th>Display title</th>
									<th>Language Code</th>
								</thead>
								<tbody>
								{% if language_list is defined and language_list is not empty %}
									{% for language in language_list %}
										<tr>
											<td hidden>{{ language.id }}</td>
											<td>{{ language.language_name }}</td>
											<td>{{ language.display_title }}</td>
											<td>{{ language.language_code }}</td>
										</tr>
									{% endfor %}
								{% endif %}
								</tbody>
								<thead>
									<th hidden>Id</th>
									<th>Language</th>
									<th>Display title</th>
									<th>Language Code</th>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function() {
		$('#userroles').DataTable();
	} );
</script>
{% endblock %}