{% extends "@Admin/Layout/adminlayout.html.twig" %}
{% block title %} User {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header">
        <h1>
            Video View
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Video View</a>
            </li>
        </ol>
    </section>
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <form method="POST" action="{{path('admin_videoview_videoview')}}" >
                        Course ID : {{course_id}}<br>
                        User ID : {{user_id}}<br>
                        class ID : {{class_id}}<br>
                        Video URL : {{video_url}}<br>
                        
                        <input class="btn btn-lg btn-success" type="submit" name="save" Value ="Save" /> 
                    </form>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });</script>
{% endblock %}