{% extends "@Admin/Layout/adminlayout.html.twig" %}

   
    {# <body class="skin-blue-light sidebar-mini">#}
{% block content %}
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <section class="content-header hide">
        <h1>
            Video View
            <small></small>
        </h1>
        <ol class="breadcrumb hide">
            <li>
                <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">
                <a href="#">Video View</a>
            </li>
        </ol>
    </section>
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    
                     <video width="540" height="310" controls>
  <source src="http://admin-pc/{{dec_video}}" type="video/mp4">
</video>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
    {# </body>#}
{% block js %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).bind("contextmenu",function(e) {
                e.preventDefault();
               });
               $(document).keydown(function(e){
    if(e.which === 123){
       return false;
    }
});
        $(document).ready(function () {
            $('#example').DataTable();
            
        });</script>
{% endblock %}
